<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Schools</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/simple-sidebar.css" rel="stylesheet">

<link href="/css/font-awesome.min.css" rel="stylesheet">

<script src="/js/new.jquery.min.js"></script>


<script src="/js/popper.min.js"></script>
<script src="/js/new.bootstrap.min.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/new.vue.min.js"></script>
<script src="/js/vue-router.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/vue-chartjs.js"></script>
</head>

<body>
	<div id="root">

		<div id="wrapper">

			<!-- Sidebar -->
			<ul
				class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
				id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a
					class="sidebar-brand d-flex align-items-center justify-content-center"
					href="index.html">
					<div class="sidebar-brand-icon rotate-n-15">
						<i class="fa fa-laugh-wink"></i>
					</div>
					<div class="sidebar-brand-text mx-3">
						Sportlink</sup>
					</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Nav Item - Dashboard -->
				<li class="nav-item active"><a class="nav-link"
					href="index.html"> <i class="fa fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
				</li>

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Heading -->
				<div class="sidebar-heading">Menu</div>

				<li class="nav-item"><a class="nav-link" v-on:click=""> <i
						class="fa fa-user-circle fa-chart-area"></i> <span>Profile</span></a>
				</li>

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item"><a class="nav-link collapsed" href="#"
					data-toggle="collapse" data-target="#collapseTwo"
					aria-expanded="true" aria-controls="collapseTwo"> <i
						class="fa fa-fw fa-cog"></i> <span>Statistics</span>
				</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
						data-parent="#accordionSidebar">
						<div v-for="category in categories">
							<a class="dropdown-item" v-on:click="openstats(category.TRACKID)"
								align="left">{{category.DISCIPLINE}} {{category.EVENT}}</a>
						</div>
					</div></li>
				<li class="nav-item"><a class="nav-link" v-on:click=""> <i
						class="fa fa-gallery fa-chart-area"></i> <span>Gallery</span></a></li>

				<!-- Nav Item - Utilities Collapse Menu -->
				<li class="nav-item"><a class="nav-link collapsed" href="#"
					data-toggle="collapse" data-target="#collapseUtilities"
					aria-expanded="true" aria-controls="collapseUtilities"> <i
						class="fas fa-fw fa-wrench"></i> <span>Utilities</span>
				</a>
					<div id="collapseUtilities" class="collapse"
						aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Custom Utilities:</h6>
							<a class="collapse-item" href="utilities-color.html">Colors</a> <a
								class="collapse-item" href="utilities-border.html">Borders</a> <a
								class="collapse-item" href="utilities-animation.html">Animations</a>
							<a class="collapse-item" href="utilities-other.html">Other</a>
						</div>
					</div></li>

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Heading -->
				<div class="sidebar-heading">Addons</div>

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item"><a class="nav-link collapsed" href="#"
					data-toggle="collapse" data-target="#collapsePages"
					aria-expanded="true" aria-controls="collapsePages"> <i
						class="fas fa-fw fa-folder"></i> <span>Pages</span>
				</a>
					<div id="collapsePages" class="collapse"
						aria-labelledby="headingPages" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Login Screens:</h6>
							<a class="collapse-item" href="login.html">Login</a> <a
								class="collapse-item" href="register.html">Register</a> <a
								class="collapse-item" href="forgot-password.html">Forgot
								Password</a>
							<div class="collapse-divider"></div>
							<h6 class="collapse-header">Other Pages:</h6>
							<a class="collapse-item" href="404.html">404 Page</a> <a
								class="collapse-item" href="blank.html">Blank Page</a>
						</div>
					</div></li>

				<!-- Nav Item - Charts -->


				<!-- Nav Item - Tables -->
				<li class="nav-item"><a class="nav-link" href="tables.html">
						<i class="fa fa-fw fa-table"></i> <span>Tables</span>
				</a></li>

				<!-- Divider -->
				<hr class="sidebar-divider d-none d-md-block">

				<!-- Sidebar Toggler (Sidebar) -->
				<div class="text-center d-none d-md-inline">
					<button class="rounded-circle border-0" id="sidebarToggle"></button>
				</div>

			</ul>



			<div id="content-wrapper" class="d-flex flex-column">

				<!-- Main Content -->
				<div id="content">

					<!-- Topbar -->
					<nav
						class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

						<!-- Sidebar Toggle (Topbar) -->
						<button id="sidebarToggleTop"
							class="btn btn-link d-md-none rounded-circle mr-3">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Topbar Search -->
						<form
							class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
							<div class="input-group">
								<input type="text" class="form-control bg-light border-0 small"
									placeholder="Search for..." aria-label="Search"
									aria-describedby="basic-addon2">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button">
										<i class="fa fa-search fa-sm"></i>
									</button>
								</div>
							</div>
						</form>

						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto">

							<!-- Nav Item - Search Dropdown (Visible Only XS) -->
							<li class="nav-item dropdown no-arrow d-sm-none"><a
								class="nav-link dropdown-toggle" href="#" id="searchDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <i class="fa fa-search fa-fw"></i>
							</a> <!-- Dropdown - Messages -->
								<div
									class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
									aria-labelledby="searchDropdown">
									<form class="form-inline mr-auto w-100 navbar-search">
										<div class="input-group">
											<input type="text"
												class="form-control bg-light border-0 small"
												placeholder="Search for..." aria-label="Search"
												aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button class="btn btn-primary" type="button">
													<i class="fa fa-search fa-sm"></i>
												</button>
											</div>
										</div>
									</form>
								</div></li>

							<!-- Nav Item - Alerts -->
							<li class="nav-item dropdown no-arrow mx-1"><a
								class="nav-link dropdown-toggle" href="#" id="alertsDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <i class="fas fa-bell fa-fw"></i> <!-- Counter - Alerts -->
									<span class="badge badge-danger badge-counter">3+</span>
							</a> <!-- Dropdown - Alerts -->
								<div
									class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="alertsDropdown">
									<h6 class="dropdown-header">Alerts Center</h6>
									<a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-primary">
												<i class="fa fa-file-alt text-white"></i>
											</div>
										</div>
										<div>
											<div class="small text-gray-500">December 12, 2019</div>
											<span class="font-weight-bold">A new monthly report is
												ready to download!</span>
										</div>
									</a> <a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-success">
												<i class="fa fa-donate text-white"></i>
											</div>
										</div>
										<div>
											<div class="small text-gray-500">December 7, 2019</div>
											$290.29 has been deposited into your account!
										</div>
									</a> <a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-warning">
												<i class="fa fa-exclamation-triangle text-white"></i>
											</div>
										</div>
										<div>
											<div class="small text-gray-500">December 2, 2019</div>
											Spending Alert: We've noticed unusually high spending for
											your account.
										</div>
									</a> <a class="dropdown-item text-center small text-gray-500"
										href="#">Show All Alerts</a>
								</div></li>

							<!-- Nav Item - Messages -->
							<li class="nav-item dropdown no-arrow mx-1"><a
								class="nav-link dropdown-toggle" href="#" id="messagesDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <i class="fa fa-envelope fa-fw"></i>
									<!-- Counter - Messages --> <span
									class="badge badge-danger badge-counter">7</span>
							</a> <!-- Dropdown - Messages -->
								<div
									class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="messagesDropdown">
									<h6 class="dropdown-header">Message Center</h6>
									<a class="dropdown-item d-flex align-items-center" href="#">
										<div class="dropdown-list-image mr-3">
											<img class="rounded-circle"
												src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
											<div class="status-indicator bg-success"></div>
										</div>
										<div class="font-weight-bold">
											<div class="text-truncate">Hi there! I am wondering if
												you can help me with a problem I've been having.</div>
											<div class="small text-gray-500">Emily Fowler · 58m</div>
										</div>
									</a> <a class="dropdown-item d-flex align-items-center" href="#">
										<div class="dropdown-list-image mr-3">
											<img class="rounded-circle"
												src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
											<div class="status-indicator"></div>
										</div>
										<div>
											<div class="text-truncate">I have the photos that you
												ordered last month, how would you like them sent to you?</div>
											<div class="small text-gray-500">Jae Chun · 1d</div>
										</div>
									</a> <a class="dropdown-item d-flex align-items-center" href="#">
										<div class="dropdown-list-image mr-3">
											<img class="rounded-circle"
												src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
											<div class="status-indicator bg-warning"></div>
										</div>
										<div>
											<div class="text-truncate">Last month's report looks
												great, I am very happy with the progress so far, keep up the
												good work!</div>
											<div class="small text-gray-500">Morgan Alvarez · 2d</div>
										</div>
									</a> <a class="dropdown-item d-flex align-items-center" href="#">
										<div class="dropdown-list-image mr-3">
											<img class="rounded-circle"
												src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
											<div class="status-indicator bg-success"></div>
										</div>
										<div>
											<div class="text-truncate">Am I a good boy? The reason
												I ask is because someone told me that people say this to all
												dogs, even if they aren't good...</div>
											<div class="small text-gray-500">Chicken the Dog · 2w</div>
										</div>
									</a> <a class="dropdown-item text-center small text-gray-500"
										href="#">Read More Messages</a>
								</div></li>

							<div class="topbar-divider d-none d-sm-block"></div>

							<!-- Nav Item - User Information -->
							<li class="nav-item dropdown no-arrow"><a
								class="nav-link dropdown-toggle" href="#" id="userDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <span
									class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie
										Luna</span> <img class="img-profile rounded-circle"
									src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
							</a> <!-- Dropdown - User Information -->
								<div
									class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="userDropdown">
									<a class="dropdown-item" href="#"> <i
										class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
									</a> <a class="dropdown-item" href="#"> <i
										class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
										Settings
									</a> <a class="dropdown-item" href="#"> <i
										class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
										Activity Log
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#" data-toggle="modal"
										data-target="#logoutModal"> <i
										class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Logout
									</a>
								</div></li>

						</ul>

					</nav>
	<!--  
					<div class="container-fluid">
						<div class="col-xl-8 col-lg-7">
							<div class="card shadow mb-4">
								
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">Register
										School</h6>
								</div>
								
								<div class="card-body">
									<form>
										<div class="form-group mb-3">
											<h6 class="m-0 font-weight-bold">School Name :</h6>
											<input type="text"
												class="form-control text-sm rounded-pill border-1 bg-light shadow-sm px-4 text-primary"
												placeholder="School Name.....">
										</div>

										<div class="form-group mb-3">
											<label class="m-0 font-weight-bold">School Moto : </label> <input
												type="text"
												class="form-control text-sm rounded-pill border-1 bg-light shadow-sm px-4 text-primary"
												placeholder="Moto">
										</div>
										<div class="row">
											<div class="form-group mb-3">
												<label class="m-0 font-weight-bold">Est : </label> <input
													type="date"
													class="form-control text-sm rounded-pill border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="Established...">
											</div>

											<div class="form-group mb-3">
												<label class="m-0 font-weight-bold">Logo : </label> <input
													type="file"
													class="form-control text-sm rounded-pill border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="School Name.....">
											</div>

										</div>
										<hr>
										<div class="row">
											<div class="form-group mb-3">
												<label class="m-0 font-weight-bold">Select Province
													: </label> <select v-model="province">
													<option v-for="province in provincies">{{province.province}}</option>
												</select>
											</div>
											<div class="form-group mb-3">
												<label class="m-0 font-weight-bold">Select City : </label>
												
												<div class="btn-group">
													<button type="button"
														class="btn btn-danger dropdown-toggle"
														data-toggle="dropdown" aria-haspopup="true"
														aria-expanded="false">Action</button>
													<div class="dropdown-menu">
														<a class="dropdown-item" href="#">Action</a> <a
															class="dropdown-item" href="#">Another action</a> <a
															class="dropdown-item" href="#">Something else here</a>
														<div class="dropdown-divider"></div>
														<a class="dropdown-item" href="#">Separated link</a>
													</div>
												</div>
												<!-- 
												<a class="nav-link dropdown-toggle" href="#"
													id="searchDropdown" role="button" data-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false"> <input
													type="text"
													class="form-control text-sm rounded-pill border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="City...">
												</a> 
											</div>
										</div>
										<div class="form-group mb-3">
											<label class="m-0 font-weight-bold">Address : </label>
											<textarea id="address" placeholder="Physical address..."
												required=""
												class="form-control rounded-pill border-1 shadow-sm px-4 text-primary"
												rows="4" v-model="student.address"></textarea>
										</div>
										<div class="row">
											<div class="form-group mb-3">
												<label class="m-0 font-weight-bold">Phone : </label> <input
													type="text"
													class="form-control text-sm rounded-pill border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="Phone.....">
											</div>
											<div class="form-group mb-3">
												<label class="m-0 font-weight-bold">Email : </label> <input
													type="text"
													class="form-control text-sm rounded-pill border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="Email">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					
					 -->
				</div>
			</div>
		</div>
	</div>

	<script>
var app = new Vue({
    el: '#root',
    data: {
      input:{
        title:'',
        body:''
      },
      personalBest: '',
      provincies:[],
     schools:[],
     students:[],
     categories : [],
     province:'',
     school:{
    	 schoolName:'',
         contact:'',
         address:'',
         email:'',
         schoolHead:'',
         distance:'',
     },
     category:{
    	 catId :''},
    
     student:{
    	 fname:'',
         contact:'',
         address:'',
         mname:'',
         schoolId:'',
         surname:'',
     },
       search:'',
      selectedFile: null,
      savebtn:true,
      updatebtn:false
    },
    mounted(){
    	//this.fetchSchools();
    	this.fetchProvincies();
    },
    methods: {
    	onFileSelected(event){
    		this.selectedFile = event.target.files[0]
    	},
    	myFunction() {
    		  document.getElementById("myDropdown").classList.toggle("show");
    		},
    	myFunction1() {
      		  document.getElementById("myDropdown1").classList.toggle("show");
      		},
      	myFunction2() {
        		document.getElementById("myDropdown2").classList.toggle("show");
        	},
        myFunction3() {
        		document.getElementById("myDropdown3").classList.toggle("show");
        	},
      saveSchool(){
    	 const fd = new FormData();
    	 fd.append('name', this.school.schoolName);
    	 fd.append('contact' , this.school.contact);
    	 fd.append('username', this.school.email);
    	 
    	 fd.append('address', this.school.address);
    	 fd.append('distance', this.school.distance);
    	 fd.append('schoolHead' , this.school.schoolHead);
    	 fd.append('image', this.selectedFile, this.selectedFile.name);
        axios.post("/registerschool", fd, {
        	onUploadProgress: uploadEvent=> {
        		console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
        	}
        } ,{
         // body : this.input.body,
         //title : this.input.title
        }).then(function(response){
        	window.alert(response.data)
        }.bind(this))
        this.clear()
      },
             saveStudent(){
       	 const fd = new FormData();
       	 fd.append('firstName', this.student.fame);
       	 fd.append('contact' , this.student.contact);
       	 fd.append('username', this.student.username);
       	 fd.append('surname', this.student.surname);
       	 fd.append('address', this.student.address);
       	 fd.append('middleName', this.student.mname);
       	 fd.append('schoolId' , this.student.schoolId);
       	 fd.append('image', this.selectedFile, this.selectedFile.name);
           axios.post("/registerstudent", fd, {
           	onUploadProgress: uploadEvent=> {
           		console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
           	}
           } ,{
            // body : this.input.body,
            //title : this.input.title
           }).then(function(response){
           	window.alert(response.data)
           }.bind(this))
           this.clear()
         },
         saveTFStat(){
        	 const fd = new FormData();
        	 fd.append('catId', this.category.catId);
        	 fd.append('personalBest' , this.personalBest);
        	 fd.append('studentId', this.soccer.studentId);
        	 
        	 console.log(this.personalBest);
            axios.post("/savetfstat", fd, {
            	onUploadProgress: uploadEvent=> {
            		console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
            	}
            } ,{
             // body : this.input.body,
             //title : this.input.title
            }).then(function(response){
            	window.alert(response.data)
            }.bind(this))
            this.clear()
          },
       setSchool(schoolId){
    	 this.student.schoolId = schoolId;
    	 document.getElementById("myDropdown").classList.toggle("show");
    	 console.log(schoolId);
    	 
       },
       fetchProvincies() {
    	   console.log("running");
           axios.get("/fetchprovincies", {
        	 
           }).then(function (response) {
             this.provincies = response.data;
           }.bind(this));
         },
       searchSchools(search) {
    	   console.log("running");
           axios.get("/searchschools", {
        	   params:{
        		   search: search
        	   }
           }).then(function (response) {
             this.schools = response.data;
           }.bind(this));
         },
         setStudent(studentId){
        	 this.soccer.studentId = studentId;
        	 document.getElementById("myDropdown2").classList.toggle("show");
        	 console.log(studentId);
        	 
           },
           searchCategories(search) {
        	   console.log("running");
               axios.get("/searchcategory", {
            	   params:{
            		   search: search
            	   }
               }).then(function (response) {
                 this.categories = response.data;
               }.bind(this));
             },
             setCategory(catId){
            	 this.category.catId = catId;
            	 document.getElementById("myDropdown3").classList.toggle("show");
            	 console.log(catId);
            	 
               },
               searchStudents(search) {
            	   console.log("running");
                   axios.get("/searchstudents", {
                	   params:{
                		   search: search
                	   }
                   }).then(function (response) {
                     this.students = response.data;
                   }.bind(this));
                 },
      clear(){
        this.input.body = ''
        this.input.title=''
      }
    }
  });

</script>
</body>
</html>