<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Schools</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/simple-sidebar.css" rel="stylesheet">

<link href="/css/font-awesome.min.css" rel="stylesheet">

<script src="/js/new.jquery.min.js"></script>


<script src="/js/popper.min.js"></script>
<script src="/js/new.bootstrap.min.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/new.vue.min.js"></script>
<script src="/js/vue-router.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/vue-chartjs.js"></script>
</head>

<body>
	<div id="root">

		<div id="wrapper">

			<!-- Sidebar -->
			<ul
				class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
				id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a
					class="sidebar-brand d-flex align-items-center justify-content-center"
					href="index.html">
					<div class="sidebar-brand-icon rotate-n-15">
						<i class="fa fa-laugh-wink"></i>
					</div>
					<div class="sidebar-brand-text mx-3">
						Sportlink</sup>
					</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0">

				<!-- Nav Item - Dashboard -->
				<li class="nav-item active"><a class="nav-link"
					href="index.html"> <i class="fa fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
				</li>

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Heading -->
				<div class="sidebar-heading">Menu</div>

				<li class="nav-item"><a class="nav-link"> <i
						class="fa fa-user-circle fa-chart-area"></i> <span>Profile</span></a>
				</li>

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item"><a class="nav-link collapsed" href="#"
					data-toggle="collapse" data-target="#collapseTwo"
					aria-expanded="true" aria-controls="collapseTwo"> <i
						class="fa fa-fw fa-cog"></i> <span>Statistics</span>
				</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
						data-parent="#accordionSidebar">
						<div v-for="category in categories">
							<a class="dropdown-item" v-on:click="openstats(category.TRACKID)"
								align="left">{{category.DISCIPLINE}} {{category.EVENT}}</a>
						</div>
					</div></li>
				<li class="nav-item"><a class="nav-link"> <i
						class="fa fa-gallery fa-chart-area"></i> <span>Gallery</span></a></li>

				<!-- Nav Item - Utilities Collapse Menu -->
				<li class="nav-item"><a class="nav-link collapsed" href="#"
					data-toggle="collapse" data-target="#collapseUtilities"
					aria-expanded="true" aria-controls="collapseUtilities"> <i
						class="fas fa-fw fa-wrench"></i> <span>Utilities</span>
				</a>
					<div id="collapseUtilities" class="collapse"
						aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Custom Utilities:</h6>
							<a class="collapse-item" href="utilities-color.html">Colors</a> <a
								class="collapse-item" href="utilities-border.html">Borders</a> <a
								class="collapse-item" href="utilities-animation.html">Animations</a>
							<a class="collapse-item" href="utilities-other.html">Other</a>
						</div>
					</div></li>

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Heading -->
				<div class="sidebar-heading">Addons</div>

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item"><a class="nav-link collapsed" href="#"
					data-toggle="collapse" data-target="#collapsePages"
					aria-expanded="true" aria-controls="collapsePages"> <i
						class="fas fa-fw fa-folder"></i> <span>Pages</span>
				</a>
					<div id="collapsePages" class="collapse"
						aria-labelledby="headingPages" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Login Screens:</h6>
							<a class="collapse-item" href="login.html">Login</a> <a
								class="collapse-item" href="register.html">Register</a> <a
								class="collapse-item" href="forgot-password.html">Forgot
								Password</a>
							<div class="collapse-divider"></div>
							<h6 class="collapse-header">Other Pages:</h6>
							<a class="collapse-item" href="404.html">404 Page</a> <a
								class="collapse-item" href="blank.html">Blank Page</a>
						</div>
					</div></li>

				<!-- Nav Item - Charts -->


				<!-- Nav Item - Tables -->
				<li class="nav-item"><a class="nav-link" href="tables.html">
						<i class="fa fa-fw fa-table"></i> <span>Tables</span>
				</a></li>

				<!-- Divider -->
				<hr class="sidebar-divider d-none d-md-block">

				<!-- Sidebar Toggler (Sidebar) -->
				<div class="text-center d-none d-md-inline">
					<button class="rounded-circle border-0" id="sidebarToggle"></button>
				</div>

			</ul>
			<!--  
  <div class="d-flex" id="wrapper">

    
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><i>Sport Link</i> </div>
      <div class="list-group list-group-flush">
      	<ul>
      	<li>
        <a  v-on:click="openprofile" class="list-group-item list-group-item-action mybg">Profile</a>
        </li>
        <li class="nav-item dropdown">
              <a class="list-group-item list-group-item-action mybg dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Statistics
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              
                <div v-for="category in categories" >
              		<a class="dropdown-item" v-on:click="openstats(category.TRACKID)" align="left">{{category.DISCIPLINE}} {{category.EVENT}}</a>
              	</div>
                
              </div>
         </li>
         <li>
        <a v-on:click="opengallery" class="list-group-item list-group-item-action mybg">Gallery</a>
        </li>
        <li>
        <a href="#" class="list-group-item list-group-item-action mybg">Events</a>
        </li>
        </ul>
      </div>
    </div>
  
-->

			<div id="content-wrapper" class="d-flex flex-column">

				<!-- Main Content -->
				<div id="content">

					<!-- Topbar -->
					<nav
						class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

						<!-- Sidebar Toggle (Topbar) -->
						<button id="sidebarToggleTop"
							class="btn btn-link d-md-none rounded-circle mr-3">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Topbar Search -->
						<form
							class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
							<div class="input-group">
								<input type="text" class="form-control bg-light border-0 small"
									placeholder="Search for..." aria-label="Search"
									aria-describedby="basic-addon2">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button">
										<i class="fa fa-search fa-sm"></i>
									</button>
								</div>
							</div>
						</form>

						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto">

							<!-- Nav Item - Search Dropdown (Visible Only XS) -->
							<li class="nav-item dropdown no-arrow d-sm-none"><a
								class="nav-link dropdown-toggle" href="#" id="searchDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <i class="fa fa-search fa-fw"></i>
							</a> <!-- Dropdown - Messages -->
								<div
									class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
									aria-labelledby="searchDropdown">
									<form class="form-inline mr-auto w-100 navbar-search">
										<div class="input-group">
											<input type="text"
												class="form-control bg-light border-0 small"
												placeholder="Search for..." aria-label="Search"
												aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button class="btn btn-primary" type="button">
													<i class="fa fa-search fa-sm"></i>
												</button>
											</div>
										</div>
									</form>
								</div></li>

							<!-- Nav Item - Alerts -->
							<li class="nav-item dropdown no-arrow mx-1"><a
								class="nav-link dropdown-toggle" href="#" id="alertsDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <i class="fas fa-bell fa-fw"></i> <!-- Counter - Alerts -->
									<span class="badge badge-danger badge-counter">3+</span>
							</a> <!-- Dropdown - Alerts -->
								<div
									class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="alertsDropdown">
									<h6 class="dropdown-header">Alerts Center</h6>
									<a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-primary">
												<i class="fa fa-file-alt text-white"></i>
											</div>
										</div>
										<div>
											<div class="small text-gray-500">December 12, 2019</div>
											<span class="font-weight-bold">A new monthly report is
												ready to download!</span>
										</div>
									</a> <a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-success">
												<i class="fa fa-donate text-white"></i>
											</div>
										</div>
										<div>
											<div class="small text-gray-500">December 7, 2019</div>
											$290.29 has been deposited into your account!
										</div>
									</a> <a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-warning">
												<i class="fa fa-exclamation-triangle text-white"></i>
											</div>
										</div>
										<div>
											<div class="small text-gray-500">December 2, 2019</div>
											Spending Alert: We've noticed unusually high spending for
											your account.
										</div>
									</a> <a class="dropdown-item text-center small text-gray-500"
										href="#">Show All Alerts</a>
								</div></li>

							<!-- Nav Item - Messages -->
							<li class="nav-item dropdown no-arrow mx-1"><a
								class="nav-link dropdown-toggle" href="#" id="messagesDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <i class="fa fa-envelope fa-fw"></i>
									<!-- Counter - Messages --> <span
									class="badge badge-danger badge-counter">7</span>
							</a> <!-- Dropdown - Messages -->
								<div
									class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="messagesDropdown">
									<h6 class="dropdown-header">Message Center</h6>
									<a class="dropdown-item d-flex align-items-center" href="#">
										<div class="dropdown-list-image mr-3">
											<img class="rounded-circle"
												src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
											<div class="status-indicator bg-success"></div>
										</div>
										<div class="font-weight-bold">
											<div class="text-truncate">Hi there! I am wondering if
												you can help me with a problem I've been having.</div>
											<div class="small text-gray-500">Emily Fowler · 58m</div>
										</div>
									</a> <a class="dropdown-item d-flex align-items-center" href="#">
										<div class="dropdown-list-image mr-3">
											<img class="rounded-circle"
												src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
											<div class="status-indicator"></div>
										</div>
										<div>
											<div class="text-truncate">I have the photos that you
												ordered last month, how would you like them sent to you?</div>
											<div class="small text-gray-500">Jae Chun · 1d</div>
										</div>
									</a> <a class="dropdown-item d-flex align-items-center" href="#">
										<div class="dropdown-list-image mr-3">
											<img class="rounded-circle"
												src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
											<div class="status-indicator bg-warning"></div>
										</div>
										<div>
											<div class="text-truncate">Last month's report looks
												great, I am very happy with the progress so far, keep up the
												good work!</div>
											<div class="small text-gray-500">Morgan Alvarez · 2d</div>
										</div>
									</a> <a class="dropdown-item d-flex align-items-center" href="#">
										<div class="dropdown-list-image mr-3">
											<img class="rounded-circle"
												src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
											<div class="status-indicator bg-success"></div>
										</div>
										<div>
											<div class="text-truncate">Am I a good boy? The reason
												I ask is because someone told me that people say this to all
												dogs, even if they aren't good...</div>
											<div class="small text-gray-500">Chicken the Dog · 2w</div>
										</div>
									</a> <a class="dropdown-item text-center small text-gray-500"
										href="#">Read More Messages</a>
								</div></li>

							<div class="topbar-divider d-none d-sm-block"></div>

							<!-- Nav Item - User Information -->
							<li class="nav-item dropdown no-arrow"><a
								class="nav-link dropdown-toggle" href="#" id="userDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <span
									class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie
										Luna</span> <img class="img-profile rounded-circle"
									src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
							</a> <!-- Dropdown - User Information -->
								<div
									class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="userDropdown">
									<a class="dropdown-item" href="#"> <i
										class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
									</a> <a class="dropdown-item" href="#"> <i
										class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
										Settings
									</a> <a class="dropdown-item" href="#"> <i
										class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
										Activity Log
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#" data-toggle="modal"
										data-target="#logoutModal"> <i
										class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Logout
									</a>
								</div></li>

						</ul>

					</nav>



					<!-- 
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Show Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
       -->

					<div class="container-fluid">
						<div class="col-xl-10 col-lg-10">
							<div class="card shadow mb-4">

								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">Register
										School</h6>
								</div>

								<div class="card-body">
									<form>
										<div class="form row">
											<div class="form-group col-md-7 mb-3">
												<h6 class="m-0 font-weight-bold">School Name :</h6>
												<input type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													v-model="school.name">
											</div>

											<div class="form-group col-md-5 mb-3">
												<label class="m-0 font-weight-bold">School Moto : </label> <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													v-model="school.moto">
											</div>
										</div>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Est : </label> <input
													type="date"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													v-model="school.est">
											</div>

											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Logo : </label> <input
													type="file"
													class="form-control-file text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="School Name....." @change="onFileSelected">
											</div>

										</div>
										<hr>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Select Province</label>

												<div>
													<a class="dropdown-toggle1" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"> <input
														type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														v-model="province">
													</a>
													<div class="dropdown-menu">
														<div v-for="province in provincies">
															<a class="dropdown-item"
																v-on:click="setProvinve(province.provinceId, province.province)">{{province.province}}</a>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Select City : </label>

												<div>
													<a class="dropdown-toggle1" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"> <input
														type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														v-model="city" @input="searchCity(city)">
													</a>
													<div class="dropdown-menu">
														<div v-for="city in cities">
															<a class="dropdown-item"
																v-on:click="setCity(city.CITYID, city.CITY)">{{city.CITY}}</a>
														</div>
													</div>
												</div>

											</div>
										</div>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Address : </label>
												<textarea id="address" required=""
													class="form-control border-1 shadow-sm px-4 text-primary"
													rows="4" v-model="school.address"></textarea>
											</div>
											<div class="col-md-6">
												<div class="row">

													<div class="form-group col-md-12 mb-3">
														<label class="m-0 font-weight-bold">Phone : </label> <input
															type="text"
															class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
															v-model="school.phone">
													</div>
													<div class="form-group col-md-12 mb-3">
														<label class="m-0 font-weight-bold">Email : </label> <input
															type="text"
															class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
															v-model="school.email">
													</div>
												</div>
											</div>


										</div>
										<button @click.prevent="saveSchool" class="btn btn-primary">Register</button>
									</form>
								</div>
							</div>
						</div>


						<div class="col-xl-10 col-lg-10">
							<div class="card shadow mb-4">

								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">Register
										Student</h6>
								</div>

								<div class="card-body">
									<form>
										<div class="form row">
											<div class="form-group col-md-4 mb-3">
												<h6 class="m-0 font-weight-bold">Student Name :</h6>
												<input type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="student.fname">
											</div>

											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Middle Name : </label> <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="student.mname">
											</div>
											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Surname : </label> <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="student.surname">
											</div>
										</div>
										<div class="form row">
											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">D.O.B : </label> <input
													type="date"
													class="form-control text-sm  border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="student.dob">
											</div>

											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Profile Photo :
												</label> <input type="file"
													class="form-control-file text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" @change="onFileSelected">
											</div>
											<div class="form-check col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Gender : </label><br>
												<input type="radio" id="male" value="Male"
													v-model="student.gender"> <label for="male">Male</label>
												<input type="radio" id="female" value="Female"
													v-model="student.gender"> <label for="female">Female</label>
											</div>

										</div>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Nationality : </label> <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="student.nationality">
											</div>
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">ID Number : </label> <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="student.natReg">
											</div>
										</div>
										<hr>
										<div class="form-group col-md-6 mb-3">
											<label class="m-0 font-weight-bold">Select School : </label>

											<div>
												<a class="dropdown-toggle1" data-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false"> <input
													type="text"
													class="form-control text-sm  border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="sschool"
													@input="searchSchools(sschool)">
												</a>
												<div class="dropdown-menu">
													<div v-for="school in schools">
														<a class="dropdown-item"
															v-on:click="setSchool(school.SCHOOL_ID, school.NAME, school.PROVINCE, school.CITY)">{{school.SCHOOL_ID}}
															: {{school.NAME}}</a>
													</div>
												</div>
											</div>

										</div>
										<div class="form row">
											<div class="form-group col-md- mb-3">
												<label class="m-0 font-weight-bold">School Name</label>

												<div>
													<input type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														v-model="schoolName" disabled>
												</div>
											</div>
											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">School City : </label>

												<div>
													<input type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="schoolCity" disabled>
												</div>

											</div>
											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold"> School Province
													: </label>

												<div>
													<input type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="schoolProvince" disabled>
												</div>
											</div>
										</div>
										<hr>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Select Province</label>
												<div>
													<a class="dropdown-toggle1" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"> <input
														type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														v-model="province">
													</a>
													<div class="dropdown-menu">
														<div v-for="province in provincies">
															<a class="dropdown-item"
																v-on:click="setProvinve(province.provinceId, province.province)">{{province.province}}</a>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Select City : </label>

												<div>
													<a class="dropdown-toggle1" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"> <input
														type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="city" @input="searchCity(city)">
													</a>
													<div class="dropdown-menu">
														<div v-for="city in cities">
															<a class="dropdown-item"
																v-on:click="setCity1(city.CITYID, city.CITY)">{{city.CITY}}</a>
														</div>
													</div>
												</div>

											</div>
										</div>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Address : </label>
												<textarea id="address" placeholder="" required=""
													class="form-control border-1 shadow-sm px-4 text-primary"
													rows="4" v-model="student.address"></textarea>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="form-group col-md-12 mb-3">
														<label class="m-0 font-weight-bold">Phone : </label> <input
															type="text"
															class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
															placeholder="" v-model="student.contact">
													</div>
													<div class="form-group col-md-12 mb-3">
														<label class="m-0 font-weight-bold">Email : </label> <input
															type="text"
															class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
															placeholder="" v-model="student.email">
													</div>

												</div>
											</div>
										</div>
										<button @click.prevent="saveStudent" class="btn btn-primary">Register</button>
									</form>
								</div>
							</div>
						</div>
						<div class="col-xl-10 col-lg-10">
							<div class="card shadow mb-4">

								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">Register
										Coach</h6>
								</div>

								<div class="card-body">
									<form>
										<div class="form row">
											<div class="form-group col-md-4 mb-3">
												<h6 class="m-0 font-weight-bold">Coach Name :</h6>
												<input type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="coach.fname">
											</div>

											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Middle Name : </label> <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="coach.mname">
											</div>
											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Surname : </label> <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="coach.surname">
											</div>
										</div>
										<div class="form row">
											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">D.O.B : </label> <input
													type="date"
													class="form-control text-sm  border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="coach.dob">
											</div>

											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Profile Photo :
												</label> <input type="file"
													class="form-control-file text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" @change="onFileSelected">
											</div>
											<div class="form-check col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Gender : </label><br>
												<input type="radio" id="male" value="Male"
													v-model="student.gender"> <label for="male">Male</label>
												<input type="radio" id="female" value="Female"
													v-model="coach.gender"> <label for="female">Female</label>
											</div>

										</div>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Nationality : </label> <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="coach.nationality">
											</div>
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">ID Number : </label> <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="coach.natReg">
											</div>
										</div>
										<hr>
										<div class="form-group col-md-6 mb-3">
											<label class="m-0 font-weight-bold">Select Post</label>
											<div>
												<a class="dropdown-toggle1" data-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false"> <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													v-model="post">
												</a>
												<div class="dropdown-menu">
													<div v-for="post in posts">
														<a class="dropdown-item"
															v-on:click="setPost(post.postid, post.post)"> {{post.post}}</a>
													</div>
												</div>
											</div>
										</div>
										<hr>
										<div class="form-group col-md-6 mb-3">
											<label class="m-0 font-weight-bold">Select School : </label>

											<div>
												<a class="dropdown-toggle1" data-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false"> <input
													type="text"
													class="form-control text-sm  border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="sschool"
													@input="searchSchools(sschool)">
												</a>
												<div class="dropdown-menu">
													<div v-for="school in schools">
														<a class="dropdown-item"
															v-on:click="setSchool(school.SCHOOL_ID, school.NAME, school.PROVINCE, school.CITY)">{{school.SCHOOL_ID}}
															: {{school.NAME}}</a>
													</div>
												</div>
											</div>

										</div>
										<div class="form row">
											<div class="form-group col-md- mb-3">
												<label class="m-0 font-weight-bold">School Name</label>

												<div>
													<input type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														v-model="schoolName" disabled>
												</div>
											</div>
											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">School City : </label>

												<div>
													<input type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="schoolCity" disabled>
												</div>

											</div>
											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold"> School Province
													: </label>

												<div>
													<input type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="schoolProvince" disabled>
												</div>
											</div>
										</div>
										<hr>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Select Province</label>
												<div>
													<a class="dropdown-toggle1" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"> <input
														type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														v-model="province">
													</a>
													<div class="dropdown-menu">
														<div v-for="province in provincies">
															<a class="dropdown-item"
																v-on:click="setProvince(province.provinceId, province.province)">{{province.province}}</a>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Select City : </label>

												<div>
													<a class="dropdown-toggle1" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"> <input
														type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="city" @input="searchCity(city)">
													</a>
													<div class="dropdown-menu">
														<div v-for="city in cities">
															<a class="dropdown-item"
																v-on:click="setCity1(city.CITYID, city.CITY)">{{city.CITY}}</a>
														</div>
													</div>
												</div>

											</div>
										</div>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Address : </label>
												<textarea id="address" placeholder="" required=""
													class="form-control border-1 shadow-sm px-4 text-primary"
													rows="4" v-model="coach.address"></textarea>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="form-group col-md-12 mb-3">
														<label class="m-0 font-weight-bold">Phone : </label> <input
															type="text"
															class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
															placeholder="" v-model="coach.contact">
													</div>
													<div class="form-group col-md-12 mb-3">
														<label class="m-0 font-weight-bold">Email : </label> <input
															type="text"
															class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
															placeholder="" v-model="coach.email">
													</div>

												</div>
											</div>
										</div>
										<button @click.prevent="saveCoach" class="btn btn-primary">Register</button>
									</form>
								</div>
							</div>
						</div>


						<div class="col-xl-10 col-lg-10">
							<div class="card shadow mb-4">

								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">Track And
										Field</h6>
								</div>

								<div class="card-body">
									<form>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Select Student :
												</label>

												<div>
													<a class="dropdown-toggle1" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"> <input
														type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="sstudent"
														@input="searchStudents(sstudent)">
													</a>
													<div class="dropdown-menu">
														<div v-for="student in students">
															<a class="dropdown-item"
																v-on:click="setStudent(student.STUDENT_ID, student.FIRSTNAME, student.MIDDLENAME, student.SURNAME)">{{student.FIRSTNAME}}
																{{student.MIDDLENAME}} {{student.SURNAME}}</a>
														</div>
													</div>
												</div>

											</div>
										</div>
										<hr>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Category : </label>

												<div>
													<a class="dropdown-toggle1" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"> <input
														type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="category">
													</a>
													<div class="dropdown-menu">
														<div v-for="category in categories">
															<a class="dropdown-item"
																v-on:click="setCategory(category.catId, category.name)">{{category.name}}</a>
														</div>
													</div>
												</div>

											</div>

											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Select
													Discipline : </label>

												<div>
													<a class="dropdown-toggle1" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"> <input
														type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="sdiscipline"
														@input="searchDiscipline(sdiscipline)">
													</a>
													<div class="dropdown-menu">
														<div v-for="discipline in disciplines">
															<a class="dropdown-item"
																v-on:click="setDiscipline(discipline.DISCIPLINEID, discipline.DISCIPLINE)">{{discipline.DISCIPLINE}}
															</a>
														</div>
													</div>
												</div>
											</div>

										</div>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Select Event </label> <a
													class="dropdown-toggle1" data-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false"> <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="sevent"
													@input="searchEvent(sevent)">
												</a>
												<div class="dropdown-menu">
													<div v-for="event in events">
														<a class="dropdown-item"
															v-on:click="setEvent(event.EVENTID, event.EVENT)">{{event.EVENT}}
														</a>
													</div>
												</div>
											</div>

											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Personal Record
												</label> <input type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="personalBest">
											</div>



										</div>

										<hr>


										<button @click.prevent="saveTFStat" class="btn btn-primary">Register</button>
									</form>
								</div>
							</div>
						</div>
						
						
						
						<div class="col-xl-10 col-lg-10">
							<div class="card shadow mb-4">

								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">School Medals</h6>
								</div>

								<div class="card-body">
									<form>
										<div class="form row">
											<div class="form-group col-md-6 mb-3">
												<label class="m-0 font-weight-bold">Select Student :
												</label>

												<div>
													<a class="dropdown-toggle1" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"> <input
														type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="sstudent"
														@input="searchStudents(sstudent)">
													</a>
													<div class="dropdown-menu">
														<div v-for="student in students">
															<a class="dropdown-item"
																v-on:click="setStudent(student.STUDENT_ID, student.FIRSTNAME, student.MIDDLENAME, student.SURNAME)">{{student.FIRSTNAME}}
																{{student.MIDDLENAME}} {{student.SURNAME}}</a>
														</div>
													</div>
												</div>

											</div>
										</div>
										<div class="form row">
											<div class="form-group col-md- mb-3">
												<label class="m-0 font-weight-bold">First Name</label>

												<div>
													<input type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														v-model="studentFName" disabled>
												</div>
											</div>
											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Middle Name : </label>

												<div>
													<input type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="studentMName" disabled>
												</div>

											</div>
											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold"> Surname
													: </label>

												<div>
													<input type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="studentSurname" disabled>
												</div>
											</div>
										</div>
										<hr>
							
										<div class="form row">
											

											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Medal : </label>

												<div>
													<a class="dropdown-toggle1" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"> <input
														type="text"
														class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
														placeholder="" v-model="medal">
													</a>
													<div class="dropdown-menu">
														<div v-for="medal in medals">
															<a class="dropdown-item"
																v-on:click="setMedal(medal.medalId, medal.name)">{{medal.name}}</a>
														</div>
													</div>
												</div>

											</div>

											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Event </label>  <input
													type="text"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="description"
													>
											</div>
											<div class="form-group col-md-4 mb-3">
												<label class="m-0 font-weight-bold">Date Awarded </label>  <input
													type="date"
													class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
													placeholder="" v-model="dateawarded"
													>
											</div>



										</div>

										


										<button @click.prevent="saveSGallery" class="btn btn-primary">Upload</button>
									</form>
								</div>
							</div>
						</div>
						

					</div>

					<!-- Bootstrap core JavaScript -->
					<script src="/js/jquery.js"></script>
					<script src="/js/bootstrap.bundle.min.js"></script>

					<!-- Menu Toggle Script -->
					<script>
var app = new Vue({
    el: '#root',
    data: {
      input:{
        title:'',
        body:''
      },
      post:'',
      posts:'',
      personalBest: '',
      provincies:[],
     schools:[],
     cities:[],
     city:'',
     sschool:'',
     sstudent:'',
     sevent:'',
     sdiscipline:'',
     students:[],
     categories : [],
     events:[],
     disciplines:'',
     province:'',
     medal:'',
     schoolName:'',
     schoolCity:'',
     schoolProvince:'',
     school:{
    	 name:'',
         contact:'',
         address:'',
         email:'',
         moto:'',
         est:'',
         cityId:'',
     },
     category:'',
    catId:'',
    eventId:'',
    description:'',
    medals:[],
    province:'',
    provinceId:'',
    studentId:'',
    disciplineId:'',
    studentFName:'',
    studentMName:'',
    studentSurname:'',
     student:{
    	 fname:'',
         contact:'',
         address:'',
         mname:'',
         schoolId:'',
         surname:'',
         gender:'',
         dob:'',
         natReg:'',
         nationality:'',
         cityId:'',
     },
     coach:{
    	 fname:'',
         contact:'',
         address:'',
         mname:'',
         schoolId:'',
         surname:'',
         gender:'',
         dob:'',
         natReg:'',
         nationality:'',
         cityId:'',
         postId:'',
         
     },
     dateawarded:'',
       search:'',
      selectedFile: null,
      savebtn:true,
      updatebtn:false
    },
    mounted(){
    	this.fetchPost();
    	this.fetchProvincies();
    	this.fetchCategories();
    	this.fetchMedals();
    },
    methods: {
    	onFileSelected(event){
    		this.selectedFile = event.target.files[0]
    	},
    	myFunction() {
    		  document.getElementById("myDropdown").classList.toggle("show");
    		},
    	myFunction1() {
      		  document.getElementById("myDropdown1").classList.toggle("show");
      		},
      	myFunction2() {
        		document.getElementById("myDropdown2").classList.toggle("show");
        	},
        myFunction3() {
        		document.getElementById("myDropdown3").classList.toggle("show");
        	},
        	setProvince(provinceId, name){
             	 this.provinceId = provinceId;
             	 this.province = name;
             	 
             	 console.log(provinceId);
             	 
                },
      saveSchool(){
    	 const fd = new FormData();
    	 fd.append('name', this.school.name);
    	 fd.append('contact' , this.school.contact);
    	 fd.append('username', this.school.email);
    	 
    	 fd.append('address', this.school.address);
    	 fd.append('moto', this.school.moto);
    	 fd.append('city' , this.school.cityId);
    	 //fd.append('est' , this.school.est);
    	 fd.append('image', this.selectedFile, this.selectedFile.name);
         axios.post("/registerschool", fd, {
        	onUploadProgress: uploadEvent=> {
        		console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
        	}
        } ,{
         // body : this.input.body,
         //title : this.input.title
        }).then(function(response){
        	window.alert(response.data)
        }.bind(this))
        this.clear()
      },
       saveStudent(){
       	 const fd = new FormData();
       	 fd.append('firstName', this.student.fame);
       	 fd.append('contact' , this.student.contact);
       	 fd.append('username', this.student.username);
       	 fd.append('surname', this.student.surname);
       	 fd.append('address', this.student.address);
       	fd.append('gender', this.student.gender);
       	 fd.append('middleName', this.student.mname);
       	 fd.append('dob1', this.student.dob);
       	 fd.append('nationality', this.student.nationality);
       	fd.append('natReg', this.student.natReg);
       	fd.append('city', this.student.cityId);
       	 fd.append('schoolId' , this.student.schoolId);
       	 fd.append('image', this.selectedFile, this.selectedFile.name);
           axios.post("/registerstudent", fd, {
           	onUploadProgress: uploadEvent=> {
           		console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
           	}
           } ,{
            // body : this.input.body,
            //title : this.input.title
           }).then(function(response){
           	window.alert(response.data)
           }.bind(this))
           this.clear()
         },
         saveCoach(){
           	 const fd = new FormData();
           	 fd.append('firstName', this.coach.fame);
           	 fd.append('contact' , this.coach.contact);
           	 fd.append('username', this.coach.username);
           	 fd.append('surname', this.coach.surname);
           	 fd.append('address', this.coach.address);
           	fd.append('gender', this.coach.gender);
           	 fd.append('middleName', this.coach.mname);
           //	 fd.append('dob', this.student.dob);
           	 fd.append('nationality', this.coach.nationality);
           	fd.append('natReg', this.coach.natReg);
           	fd.append('city', this.coach.cityId);
           	 fd.append('schoolId' , this.coach.schoolId);
           	 fd.append('postId' , this.coach.postId);
           	 fd.append('image', this.selectedFile, this.selectedFile.name);
               axios.post("/registercoach", fd, {
               	onUploadProgress: uploadEvent=> {
               		console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
               	}
               } ,{
                // body : this.input.body,
                //title : this.input.title
               }).then(function(response){
               	window.alert(response.data)
               }.bind(this))
               this.clear()
             },
         saveTFStat(){
        	 const fd = new FormData();
        	 fd.append('eventId', this.eventId);
        	 fd.append('image', this.selectedFile, this.selectedFile.name);
        	 fd.append('studentId', this.studentId);
        	 
        	 console.log(this.personalBest);
            axios.post("/addgallery", fd, {
            	onUploadProgress: uploadEvent=> {
            		console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
            	}
            } ,{
             // body : this.input.body,
             //title : this.input.title
            }).then(function(response){
            	window.alert(response.data)
            }.bind(this))
            this.clear()
          },
          saveAGallery(){
         	 const fd = new FormData();
         	 fd.append('description', this.description);
         	 fd.append('image', this.selectedFile, this.selectedFile.name);
         	 fd.append('studentId', this.studentId);
         	 
         	 console.log(this.description);
         	console.log(this.studentId);
             axios.post("/addgallery", fd, {
             	onUploadProgress: uploadEvent=> {
             		console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
             	}
             } ,{
              // body : this.input.body,
              //title : this.input.title
             }).then(function(response){
             	window.alert(response.data)
             }.bind(this))
             this.clear()
           },
           saveSGallery(){
           	 const fd = new FormData();
           	 fd.append('description', this.description);
           	 fd.append('image', this.selectedFile, this.selectedFile.name);
           	 fd.append('schoolId', this.schoolId);
           	 
           	 console.log(this.description);
           	console.log(this.schoolId);
               axios.post("/addschoolgallery", fd, {
               	onUploadProgress: uploadEvent=> {
               		console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
               	}
               } ,{
                // body : this.input.body,
                //title : this.input.title
               }).then(function(response){
               	window.alert(response.data)
               }.bind(this))
               this.clear()
             },
       setSchool(schoolId, schoolName, province, city){
    	 this.schoolId = schoolId;
    	 this.sschool = schoolName;
    	 this.schoolName = schoolName;
    	 this.schoolProvince = province;
    	 this.schoolCity = city;
    	 document.getElementById("myDropdown").classList.toggle("show");
    	 console.log(schoolId);
    	 
       },
       setMedal(medalId, name){
      	 this.medalId = medalId;
      	 this.medal = name;
      	 
      	 console.log(medalId);
      	 
         },
       fetchProvincies() {
    	   console.log("running");
           axios.get("/fetchprovincies", {
        	 
           }).then(function (response) {
             this.provincies = response.data;
           }.bind(this));
         },
         fetchMedals() {
      	   console.log("running");
             axios.get("/getmedals", {
          	 
             }).then(function (response) {
               this.medals = response.data;
             }.bind(this));
           },
         fetchPost() {
      	   console.log("running");
             axios.get("/fetchpost", {
          	 
             }).then(function (response) {
               this.posts = response.data;
             }.bind(this));
           },
       searchSchools(search) {
    	   console.log(search);
           axios.get("/searchschools", {
        	   params:{
        		   search: search
        	   }
           }).then(function (response) {
             this.schools = response.data;
           }.bind(this));
         },
         
         searchCity(city) {
      	   console.log("running");
             axios.get("/searchcity", {
          	   params:{
          		   province: this.provinceId,
          		   city: city
          	   }
             }).then(function (response) {
               this.cities = response.data;
             }.bind(this));
           },
           searchDiscipline(discipline) {
          	   console.log("running");
                 axios.get("/searchdiscipline", {
              	   params:{
              		   category: this.catId,
              		   discipline: discipline
              	   }
                 }).then(function (response) {
                   this.disciplines = response.data;
                 }.bind(this));
               },
               searchEvent(event) {
              	   console.log("running");
                     axios.get("/searchevent", {
                  	   params:{
                  		   discipline: this.disciplineId,
                  		   event: event
                  	   }
                     }).then(function (response) {
                       this.events = response.data;
                     }.bind(this));
                   },
         setStudent(studentId, name, mname, surname){
        	 this.studentId = studentId;
        	 this.sstudent = name;
        	 this.studentFName = name;
        	    this.studentMName = mname;
        	    this.studentSurname = surname;
        	 document.getElementById("myDropdown2").classList.toggle("show");
        	 console.log(studentId);
        	 
           },
           setPost(postId, name){
          	 this.coach.postId = postId;
          	 this.post = name;
          	 //document.getElementById("myDropdown2").classList.toggle("show");
          	 console.log(postId);
          	 
             },
           fetchCategories() {
        	   console.log("running");
               axios.get("/fetchcategory").then(function (response) {
                 this.categories = response.data;
               }.bind(this));
             },
             setCategory(catId, category){
            	 this.catId = catId;
            	 this.category = category;
            	// document.getElementById("myDropdown3").classList.toggle("show");
            	 console.log(catId);
            	 
               },
               setDiscipline(dId, discipline){
              	 this.disciplineId = dId;
              	 this.sdiscipline = discipline;
              	// document.getElementById("myDropdown3").classList.toggle("show");
              	 console.log(dId);
              	 
                 },
                 setEvent(eId, event){
                  	 this.eventId = eId;
                  	 this.sevent = event;
                  	// document.getElementById("myDropdown3").classList.toggle("show");
                  	 console.log(eId);
                  	 
                     },
               setCity(cityId, cityName){
              	 this.school.cityId = cityId;
              	 this.city = cityName;
              	 console.log(cityId);
              	 
                 },
                 setCity1(cityId, cityName){
                  	 this.coach.cityId = cityId;
                  	 this.city = cityName;
                  	 console.log(cityId);
                  	 
                     },
               searchStudents(search) {
            	   console.log("running");
                   axios.get("/searchstudents", {
                	   params:{
                		   search: search
                	   }
                   }).then(function (response) {
                     this.students = response.data;
                   }.bind(this));
                 },
      clear(){
        this.input.body = ''
        this.input.title=''
      }
    }
  });

</script>
</body>

</html>