<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <script src="/js/jquery.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/axios.js"></script>
  <script src="/js/vue.js"></script>  
  

  <title>Blog Home - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog-theme.css" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>



  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Page Header -->
  <header class="masthead" style="background-image: url('img/banner.jpeg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Sportlink Blog</h1>
            <span class="subheading">All athletics national news.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Page Content -->
  <div class="container" id="root">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

         <div class="row">
        
        <div class="col-md-6" v-for="post in posts">
        <div class="card mb-4">
        
          <img class="img-fluid" v-bind:src="post.featuredImage" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.body}}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
           <p> Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a></p>
          </div>
        </div>
</div>
</div>       <!-- Blog Post -->

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        

        <!-- Categories Widget -->
        
        <!-- Side Widget -->
        
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

</body>
<script>
var app = new Vue({
    el: '#root',
    data: {
      posts: [],
      input:{
        title:'',
        body:'',
        featuredImage:''
      },
      savebtn:true,
      updatebtn:false
    },
    mounted() {
      this.fetchPosts();
    },
    methods: {
      fetchPosts() {
        axios.get("/posts").then(function (response) {
          this.posts = response.data;
        }.bind(this));
      },
      save(){
        axios.post("/saveitem", {
          body : this.input.body,
         title : this.input.title
        }).then(function(response){
          const data = response.data
          this.$set(this.posts,response.data.id - 1,response.data)
        }.bind(this))
        this.clear()
      },
      clear(){
        this.input.body = ''
        this.input.title=''
      },
      edit(post){
          this.savebtn = false
          this.updatebtn = true

          this.input.id = post.body
          this.input.title = post.title
      },
      update(){

      },
      delete(){

      }
    }
  });
</script>

</html>