<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>School</title>

  <!-- Bootstrap CSS CDN -->
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/bodystyle.css">

  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
    crossorigin="anonymous"></script>

</head>

<body>
  <div id="root">
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h4>Sportlight International</h4>
          <strong>SP<sup>i</sup></strong>
        </div>

        <ul class="list-unstyled components">
          <li class="active12">
            <a href="#" v-on:click="openprofile">
              <i class="fa fa-user-circle"></i>
              Profile
            </a>
          </li>
          <li>
            <a v-on:click="openorganogram">
              <i class="fas fa-image"></i>
              Organogram
            </a>
          </li>
          <li>
            <a v-on:click="opengallery">
              <i class="fas fa-image"></i>
              Gallery
            </a>
          </li>

        </ul>

  
      </nav>

      <!-- Page Content  -->
      <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <a class="navbar-brand font-weight-bold" href="/home"> <img src="/img/oficial logo.png" height="50" width="50"
                alt="">
        </a>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">

                <li class="nav-item">
                  <a class="navbar-brand font-weight-bold" href="/home"> <img src="/img/oficial logo.png" height="50"
                      width="50" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div>
          <router-view></router-view>
          <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Copyright © Sportlight International 2020</div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-success btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-success btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-success btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>

                </div>
            </div>
        </footer>
        </div>
      </div>
    </div>

  </div>
  <template id="profile">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="container">
            <div class="card shadow mb-4">
              <img v-bind:src="school.profileimg" class="card-img-top" alt="Image not ready.">
              <div class="card-body">
                <h5 class="text-sm-center mt-2 mb-1">Name : {{school.name}}</h5>
                  <h5 class="text-sm-center mt-2 mb-1">Moto : {{school.moto}}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="container">
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Details</h6>
              </div>
              <div class="card-body">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h4>Name : {{school.name}}</h4><img src="/img/zimbabwe.png"
                    class="d-none flag d-sm-inline-block"></img>
                </div>
                <div class="table-responsive">
                <table class="table table-hover table-bordered table-responsive1">
                  <tbody>
                    <tr>
                      <td>School Moto</td>
                      <td>{{school.moto}}</td>
                    </tr>
                    <tr>
                      <td>School Head</td>
                      <td>{{school.hdfname}} {{school.hdmname}} {{school.hdsurname}}</td>
                    </tr>
                    <tr>
                      <td>Sports Director</td>
                      <td>{{school.rdfname}} {{school.rdmname}} {{school.rdsurname}}</td>
                    </tr>
                    <tr>
                      <td>Province</td>
                      <td>{{school.province}}</td>
                    </tr>
                    <tr>
                      <td>City</td>
                      <td>{{school.city}}</td>
                    </tr>
                    <tr>
                      <td>Established</td>
                      <td>{{new Date(school.est).getFullYear()}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="container1">
            <div class="card shadow mb-4">
              <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Achievements/Medals</h6>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                <table class="table table-hover table-stripped table-bordered">
                  <thead>
                    <tr>
                      <th>Medal</th>
                      <th>Event</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img src="/img/gold.jpg" class=" flag d-sm-inline-block"></img>Gold</td>
                      <td>
                        <p v-if="!golds.length">None</p>
                        <p v-for="(gold, i) in golds" >{{i + 1}}. {{gold.description}} - {{new Date(gold.awarddate).getFullYear()}}</p> </td>
                    </tr>
                    <tr>
                      <td><img src="/img/silver.jpg" class=" flag d-sm-inline-block"></img>Silver </td>
                      <td>
                          <p v-if="!silvers.length">None</p>
                          <p v-for="silver in silvers" >{{i + 1}}. {{silver.description}} - {{new Date(silver.awarddate).getFullYear()}}</p> </td>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="/img/bronze.jpg" class=" flag d-sm-inline-block"></img>Bronze </td>
                      <td>
                          <p v-if="!bronzes.length">None</p>
                          <p v-for="bronze in bronzes" >{{i + 1}}. {{bronze.description}} - {{new Date(bronze.awarddate).getFullYear()}}</p> </td>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </template>
  <template id="gallery">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4" v-for="image in images">
            <div class="card mb-4"><img class="img-fluid" v-bind:src="image.LINK" alt="Card image cap">
              <div class="card-body"><span class="card-title">{{image.description}}</span>
                <p class="card-text">{{new Date(image.dateuploaded).toLocaleDateString()}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <template id="organogram">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Head Master</h6>
              </div><img class="card-img-top" v-bind:src="hmaster.profileimg" alt="Card image cap">
              <div class="card-body">
                <h6 class="card-title">{{hmaster.firstname}} {{hmaster.middlename}} {{hmaster.surname}}</h6>
                <p class="card-text">{{hmaster.gender}}</p>
                <p class="card-text">{{hmaster.nationality}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Sports Director</h6>
              </div><img class="card-img-top" v-bind:src="sdirector.profileimg" alt="Card image cap">
              <div class="card-body">
                <h2 class="card-title">{{sdirector.firstname}} {{sdirector.middlename}} {{sdirector.surname}}</h2>
                <p class="card-text">{{sdirector.gender}}</p>
                <p class="card-text">{{sdirector.nationality}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Assistant Sports Director</h6>
              </div><img class="card-img-top" v-bind:src="asdirector.profileimg" alt="Card image cap">
              <div class="card-body">
                <h2 class="card-title">{{asdirector.firstname}} {{asdirector.middlename}} {{asdirector.surname}}</h2>
                <p class="card-text">{{asdirector.gender}}</p>
                <p class="card-text">{{asdirector.nationality}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-md-4" v-for="coach in coaches">
        <div class="card mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Coach</h6>
          </div><img class="card-img-top" v-bind:src="coach.profileimg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{coach.firstname}} {{coach.middlename}} {{coach.surname}}</h2>
            <p class="card-text">{{coach.gender}}</p>
            <p class="card-text">{{coach.nationality}}</p>
          </div>
        </div>
      </div>
    </div>
  </template>

  <!-- jQuery CDN - Slim version (=without AJAX) 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
  <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
  <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>-->

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/axios.js"></script>
  <script src="/js/new.vue.min.js"></script>
  <script src="/js/vue-router.js"></script>
  <script src="/js/Chart.min.js"></script>
  <script src="/js/vue-chartjs.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>
  <script>
    

    Vue.component('pie-chart', {

      extends: VueChartJs.Pie,

      data: function () {

        return {

          datacollection: {

            labels: ['Soccer', 'NetBall', 'Cricket', 'Hockey', 'Atheletics'],

            datasets: [

              {

                backgroundColor: ['#1E9600', '#99C802', '#FFF200', '#F89403', '#FF0000'],

                data: [1, 2, 3, 4, 5],

              },

            ],

          },

          options: {

            responsive: true,

            legend: {

              display: true,

              position: 'right',

            },
          },
        }
      },
      mounted() {
        // this.chartData is created in the mixin
        this.renderChart(this.datacollection, this.options)
      }
    });

    const Organogram = Vue.component('app-department', {

      data: function () {
        return {
          hmaster: [],
          sdirector: [],
          asdirector: [],
          coaches: [],


          savebtn: true,
          updatebtn: false
        }
      },
      mounted() {
        this.fetchHMasterInfor();
        this.fetchSDirInfor();
        this.fetchSDirInfor();
        this.fetchASDirInfor();
        this.fetchCoachInfor();
      },
      methods: {
        fetchHMasterInfor() {
          axios.get("/gethmasterinfor/" + this.$route.params.schoolId).then(function (response) {
            this.hmaster = response.data;
            console.log(this.hmaster);
          }.bind(this));
        },
        fetchSDirInfor() {
          axios.get("/getsdirectorinfor/" + this.$route.params.schoolId).then(function (response) {
            this.sdirector = response.data;
            // console.log(this.student.FIRSTNAME);
          }.bind(this));
        },
        fetchASDirInfor() {
          axios.get("/getasdirectorinfor/" + this.$route.params.schoolId).then(function (response) {
            this.asdirector = response.data;
            // console.log(this.student.FIRSTNAME);
          }.bind(this));
        },
        fetchCoachInfor() {
          axios.get("/getcoachinfor/" + this.$route.params.schoolId).then(function (response) {
            this.coach = response.data;
            // console.log(this.student.FIRSTNAME);
          }.bind(this));
        },
        edit(post) {
          this.savebtn = false
          this.updatebtn = true

          this.input.id = post.body
          this.input.title = post.title
        },
        update() {

        },
        delete() {

        }
      },
      template: '#organogram'
    })


    const Gallery = Vue.component('app-department', {

      data: function () {
        return {
          images: [],



          savebtn: true,
          updatebtn: false
        }
      },
      mounted() {
        this.fetchImages();
      },
      methods: {
        fetchImages() {
          axios.get("/getschoolimages/" + this.$route.params.schoolId).then(function (response) {
            this.images = response.data;
            // console.log(this.student.FIRSTNAME);
          }.bind(this));
        },

        edit(post) {
          this.savebtn = false
          this.updatebtn = true

          this.input.id = post.body
          this.input.title = post.title
        },
        update() {

        },
        delete() {

        }
      },
      template: '#gallery'
    })

    const Route3 = Vue.component('app-department', {

      data: function () {
        return {
          activities: [],
          school: {
            NAME: "",
          },
          status: '',

        }
      },
      mounted() {
        console.log("statistsics");
        this.fetchStats();
        // this.status = this.$route.params.status;
      },
      methods: {
        fetchStats() {
          console.log("running");
          axios.get("/getschoolactivities/" + this.$route.params.schoolId, {

          }).then(function (response) {
            this.activities = response.data;
          }.bind(this));
        },
      },
      template: '<div class="container"><h4>School Name : {{school.NAME}}</h4><p></p><div class="row"><div class="col-md-6"></div><table class="table table-condensed"><thead><tr><th>Activity Name</th><th>Number of students</th></tr></thead><tbody><tr v-for="activity in activities"><td>{{activity.ACTIVITYNAME}}</td><td>{{activity.ACTIVITYID}}</td></tr></tbody></table></div><div class="col-md-6"><div id="app"><pie-chart  style="width: 400px; height: 400px" /></div></div></div></div>'

    });

    const Route2 = Vue.component('app-department', {

      data: function () {
        return {
          students: [],
          school: {
            NAME: "",
          },
          status: ''
        }
      },
      mounted() {
        this.fetchStudents();
        this.status = this.$route.params.status;
      },
      methods: {
        fetchStudents() {
          console.log("running");
          axios.get("/getstudentsbyschoolid/" + this.$route.params.schoolId, {

          }).then(function (response) {
            this.students = response.data;
          }.bind(this));
        },
      },
      template: '<div class="container"><div class="card shadow mb-4"><div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"><h6 class="m-0 font-weight-bold text-primary">Students</h6></div><h2>School Name : {{school.NAME}}</h2><p></p><table class="table table-sm table-stripped table-condensed"><thead><tr><th>First Name</th><th>Middle Name</th><th>Last Name</th><th>Email</th><th>Contact</th><th>Address</th></tr></thead><tbody><tr v-for="student in students"><td>{{student.STUDENT_NAME}}</td><td>{{student.MIDDLE_NAME}}</td><td>{{student.LAST_NAME}}</td><td>{{student.username}}</td><td>{{student.contact}}</td><td>{{student.address}}</td></tr></tbody></table></div></div>'

    });


    const Route1 = Vue.component('app-department', {

      data: function () {
        return {
          school: [],
          bronzes:[],
          silvers:[],
          gols:[],
          golds:[]
        }
      },
      mounted() {
        this.fetchSchool();
        this.fetchMedals();
      },
      methods: {
        fetchSchool() {
          axios.get("/getschool/" + this.$route.params.schoolId).then(function (response) {
            this.school = response.data;
            console.log(this.school.PROFILEIMG);
          }.bind(this));
        },
        fetchMedals() {
          axios.get("/getschmedals/" + this.$route.params.schoolId).then(function (response) {
            this.medals = response.data;
            console.log(this.medals);
            this.myMedals();
          }.bind(this));
        },
        myMedals(){
          this.golds = this.medals.filter((item) => {
            return item.medalid === 1;
          });
          console.log("gold");
          console.log(this.golds);
          this.silvers = this.medals.filter((item) => {
            return item.medalid === 2;
          });
          this.bronzes = this.medals.filter((item) => {
            return item.medalid === 3;
          });
        },      },
      template: '#profile'
    })


    const routes = [
      { path: '/school/:schoolId', component: Route1 },
      { path: '/school/stats/:schoolId', component: Route3 },
      { path: '/school/students/:schoolId', component: Route2 },
      { path: '/school/gallery/:schoolId', component: Gallery },
      { path: '/school/organogram/:schoolId', component: Organogram }
    ];

    const router = new VueRouter({

      routes, // short for `routes: routes`
      // mode: 'history'
    });

    var vm = new Vue({
      el: '#root',
      data: {
        schoolId: ''
      },
      router,

      created() {
        console.log("uri");
        let uri = window.location.href.split('/');
        console.log(uri[4][0]);
        if (uri[4].length > 2) {
          this.schoolId = uri[4].slice(0, uri[4].length - 1);
        }
        else {
          this.schoolId = uri[4][0];
        }



        // do 

        this.$router.push('/school/' + this.schoolId);
      },
      methods: {
        openprofile() {
          this.$router.push('/school/' + this.schoolId);
        },
        openstudents() {
          this.$router.push('/school/students/' + this.schoolId);
        },
        openstats() {
          this.$router.push('/school/stats/' + this.schoolId);
        },
        opengallery() {
          this.$router.push('/school/gallery/' + this.schoolId);
        },
        openorganogram() {
          this.$router.push('/school/organogram/' + this.schoolId);
        },
        myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        },
        myFunction1() {
          document.getElementById("myDropdown1").classList.toggle("show");
        }
      }

    });

  </script>

</body>

</html>