<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>School</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->

  <link href="/css/simple-sidebar.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="/js/jquery.js"></script>


  <script src="/js/popper.min.js"></script>
  <script src="/js/new.bootstrap.min.js"></script>
  <script src="/js/axios.js"></script>
  <script src="/js/vue.js"></script>
  <script src="/js/vue-router.js"></script>
  <script src="/js/Chart.min.js"></script>
  <script src="/js/vue-chartjs.js"></script>
</head>

<body>
  <div id="root">

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->

        <!-- Divider -->




        <li class="nav-item">
          <a class="nav-link" v-on:click="openprofile">
            <i class="fa fa-user-circle fa-chart-area"></i>
            <span>Profile</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" v-on:click="openorganogram">
            <i class="fa fa-user-circle fa-chart-area"></i>
            <span>Organogram</span></a>
        </li>
        <!-- Nav Item - Pages Collapse Menu -->

        <li class="nav-item">
          <a class="nav-link" v-on:click="opengallery">
            <i class="fa fa-gallery fa-chart-area"></i>
            <span>Gallery</span></a>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->


        <!-- Divider -->


        <!-- Heading -->
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>



      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <a class="navbar-brand font-weight-bold" href="/home"> <img src="/img/oficial logo.png" height="50" width="50" alt="">
            </a>
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>


          </nav>


          <div class="container-fluid">
            <router-view></router-view>
          </div>
        </div>
        <!-- /#page-content-wrapper -->

      </div>
      <!-- /#wrapper -->
    </div>
  </div>
  <template id="profile">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="container">
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
              </div>
              <div class="card-body"><img v-bind:src="school.profileimg" class="card-img" alt="Image not ready.">
                <p>Name : {{school.name}}</p>
                <p>Moto : {{school.moto}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="container">
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Details</h6>
              </div>
              <div class="card-body">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h4>Name : {{school.NAME}}</h4><img src="/img/zimbabwe.png"
                    class="d-none img-profile d-sm-inline-block"></img>
                </div>
                <table class="table table-hover table-bordered table-sm">
                  <tbody>
                    <tr>
                      <td>School Moto</td>
                      <td>{{school.moto}}</td>
                    </tr>
                    <tr>
                      <td>School Head</td>
                      <td>{{school.hdfname}} {{school.hdmname}} {{school.hdsurname}}</td>
                    </tr>
                    <tr>
                      <td>Sports Director</td>
                      <td>{{school.rdfname}} {{school.rdmname}} {{school.rdsurname}}</td>
                    </tr>
                    <tr>
                      <td>Province</td>
                      <td>{{school.province}}</td>
                    </tr>
                    <tr>
                      <td>City</td>
                      <td>{{school.city}}</td>
                    </tr>
                    <tr>
                      <td>Established</td>
                      <td>{{new Date(school.est).toLocaleDateString()}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row no-gutters">
        <div class="col-md-6">
          <div class="container px-2">
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Achievements/Medals</h6>
              </div>
              <div class="card-body">
                <table class="table table-hover table-sm table stripped table-bordered">
                  <thead>
                    <tr>
                      <th>Medal</th>
                      <th>Event</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img src="/img/gold.jpg" class="d-none img-profile d-sm-inline-block"></img>Gold</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td><img src="/img/silver.jpg" class="d-none img-profile d-sm-inline-block"></img>Silver </td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td><img src="/img/bronze.jpg" class="d-none img-profile d-sm-inline-block"></img>Bronze </td>
                      <td>0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="container px-2"><img src="/img/nocheating.jpg" class="img-fluid" alt="image not ready"></img>
          </div>
        </div>
      </div>
    </div>
  </template>
  <template id="gallery">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4" v-for="image in images">
            <div class="card mb-4"><img class="img-fluid" v-bind:src="image.LINK" alt="Card image cap">
              <div class="card-body"><span class="card-title">{{image.description}}</span>
                <p class="card-text">{{new Date(image.dateuploaded).toLocaleDateString()}}</p><a href="#" class="btn btn-dark btn-sm">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <template id="organogram">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Head Master</h6>
              </div><img class="card-img-top" v-bind:src="hmaster.PROFILEIMG" alt="Card image cap">
              <div class="card-body">
                <h6 class="card-title">{{hmaster.firstname}} {{hmaster.middlename}} {{hmaster.surname}}</h6>
                <p class="card-text">{{hmaster.gender}}</p>
                <p class="card-text">{{hmaster.nationality}}</p><a href="#" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Sports Director</h6>
              </div><img class="card-img-top" v-bind:src="sdirector.PROFILEIMG" alt="Card image cap">
              <div class="card-body">
                <h2 class="card-title">{{sdirector.firstname}} {{sdirector.middlename}} {{sdirector.surname}}</h2>
                <p class="card-text">{{sdirector.gender}}</p>
                <p class="card-text">{{sdirector.nationality}}</p><a href="#" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Assistant Sports Director</h6>
              </div><img class="card-img-top" v-bind:src="asdirector.PROFILEIMG" alt="Card image cap">
              <div class="card-body">
                <h2 class="card-title">{{asdirector.firstname}} {{asdirector.middlename}} {{asdirector.surname}}</h2>
                <p class="card-text">{{asdirector.gender}}</p>
                <p class="card-text">{{asdirector.nationality}}</p><a href="#" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-md-4" v-for="coach in coaches">
        <div class="card mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Coach</h6>
          </div><img class="card-img-top" v-bind:src="coach.PROFILEIMG" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{coach.firstname}} {{coach.middlename}} {{coach.surname}}</h2>
            <p class="card-text">{{coach.gender}}</p>
            <p class="card-text">{{coach.nationality}}</p><a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
  </template>

  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    

    Vue.component('pie-chart', {

      extends: VueChartJs.Pie,

      data: function () {

        return {

          datacollection: {

            labels: ['Soccer', 'NetBall', 'Cricket', 'Hockey', 'Atheletics'],

            datasets: [

              {

                backgroundColor: ['#1E9600', '#99C802', '#FFF200', '#F89403', '#FF0000'],

                data: [1, 2, 3, 4, 5],

              },

            ],

          },

          options: {

            responsive: true,

            legend: {

              display: true,

              position: 'right',

            },
          },
        }
      },
      mounted() {
        // this.chartData is created in the mixin
        this.renderChart(this.datacollection, this.options)
      }
    });

    const Organogram = Vue.component('app-department', {

      data: function () {
        return {
          hmaster: [],
          sdirector: [],
          asdirector: [],
          coaches: [],


          savebtn: true,
          updatebtn: false
        }
      },
      mounted() {
        this.fetchHMasterInfor();
        this.fetchSDirInfor();
        this.fetchSDirInfor();
        this.fetchASDirInfor();
        this.fetchCoachInfor();
      },
      methods: {
        fetchHMasterInfor() {
          axios.get("/gethmasterinfor/" + this.$route.params.schoolId).then(function (response) {
            this.hmaster = response.data;
            console.log(this.hmaster);
          }.bind(this));
        },
        fetchSDirInfor() {
          axios.get("/getsdirectorinfor/" + this.$route.params.schoolId).then(function (response) {
            this.sdirector = response.data;
            // console.log(this.student.FIRSTNAME);
          }.bind(this));
        },
        fetchASDirInfor() {
          axios.get("/getasdirectorinfor/" + this.$route.params.schoolId).then(function (response) {
            this.asdirector = response.data;
            // console.log(this.student.FIRSTNAME);
          }.bind(this));
        },
        fetchCoachInfor() {
          axios.get("/getcoachinfor/" + this.$route.params.schoolId).then(function (response) {
            this.coach = response.data;
            // console.log(this.student.FIRSTNAME);
          }.bind(this));
        },
        edit(post) {
          this.savebtn = false
          this.updatebtn = true

          this.input.id = post.body
          this.input.title = post.title
        },
        update() {

        },
        delete() {

        }
      },
      template: '#organogram'
    })


    const Gallery = Vue.component('app-department', {

      data: function () {
        return {
          images: [],



          savebtn: true,
          updatebtn: false
        }
      },
      mounted() {
        this.fetchImages();
      },
      methods: {
        fetchImages() {
          axios.get("/getschoolimages/" + this.$route.params.schoolId).then(function (response) {
            this.images = response.data;
            // console.log(this.student.FIRSTNAME);
          }.bind(this));
        },

        edit(post) {
          this.savebtn = false
          this.updatebtn = true

          this.input.id = post.body
          this.input.title = post.title
        },
        update() {

        },
        delete() {

        }
      },
      template: '#gallery'
    })

    const Route3 = Vue.component('app-department', {

      data: function () {
        return {
          activities: [],
          school: {
            NAME: "",
          },
          status: '',

        }
      },
      mounted() {
        console.log("statistsics");
        this.fetchStats();
        // this.status = this.$route.params.status;
      },
      methods: {
        fetchStats() {
          console.log("running");
          axios.get("/getschoolactivities/" + this.$route.params.schoolId, {

          }).then(function (response) {
            this.activities = response.data;
          }.bind(this));
        },
      },
      template: '<div class="container"><h4>School Name : {{school.NAME}}</h4><p></p><div class="row"><div class="col-md-6"></div><table class="table table-condensed"><thead><tr><th>Activity Name</th><th>Number of students</th></tr></thead><tbody><tr v-for="activity in activities"><td>{{activity.ACTIVITYNAME}}</td><td>{{activity.ACTIVITYID}}</td></tr></tbody></table></div><div class="col-md-6"><div id="app"><pie-chart  style="width: 400px; height: 400px" /></div></div></div></div>'

    });

    const Route2 = Vue.component('app-department', {

      data: function () {
        return {
          students: [],
          school: {
            NAME: "",
          },
          status: ''
        }
      },
      mounted() {
        this.fetchStudents();
        this.status = this.$route.params.status;
      },
      methods: {
        fetchStudents() {
          console.log("running");
          axios.get("/getstudentsbyschoolid/" + this.$route.params.schoolId, {

          }).then(function (response) {
            this.students = response.data;
          }.bind(this));
        },
      },
      template: '<div class="container"><div class="card shadow mb-4"><div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"><h6 class="m-0 font-weight-bold text-primary">Students</h6></div><h2>School Name : {{school.NAME}}</h2><p></p><table class="table table-sm table-stripped table-condensed"><thead><tr><th>First Name</th><th>Middle Name</th><th>Last Name</th><th>Email</th><th>Contact</th><th>Address</th></tr></thead><tbody><tr v-for="student in students"><td>{{student.STUDENT_NAME}}</td><td>{{student.MIDDLE_NAME}}</td><td>{{student.LAST_NAME}}</td><td>{{student.username}}</td><td>{{student.contact}}</td><td>{{student.address}}</td></tr></tbody></table></div></div>'

    });


    const Route1 = Vue.component('app-department', {

      data: function () {
        return {
          school: [],



          savebtn: true,
          updatebtn: false
        }
      },
      mounted() {
        this.fetchSchool();
      },
      methods: {
        fetchSchool() {
          axios.get("/getschool/" + this.$route.params.schoolId).then(function (response) {
            this.school = response.data;
            console.log(this.school.PROFILEIMG);
          }.bind(this));
        },
        save() {
          axios.post("/saveitem", {
            body: this.input.body,
            title: this.input.title
          }).then(function (response) {
            const data = response.data
            this.$set(this.posts, response.data.id - 1, response.data)
          }.bind(this))
          this.clear()
        },
        clear() {
          this.input.body = ''
          this.input.title = ''
        },
        edit(post) {
          this.savebtn = false
          this.updatebtn = true

          this.input.id = post.body
          this.input.title = post.title
        },
        update() {

        },
        delete() {

        }
      },
      template: '#profile'
    })


    const routes = [
      { path: '/school/:schoolId', component: Route1 },
      { path: '/school/stats/:schoolId', component: Route3 },
      { path: '/school/students/:schoolId', component: Route2 },
      { path: '/school/gallery/:schoolId', component: Gallery },
      { path: '/school/organogram/:schoolId', component: Organogram }
    ];

    const router = new VueRouter({

      routes, // short for `routes: routes`
      // mode: 'history'
    });

    var vm = new Vue({
      el: '#root',
      data: {
        schoolId: ''
      },
      router,

      created() {
        console.log("uri");
        let uri = window.location.href.split('/');
        console.log(uri[4][0]);
        if (uri[4].length > 2) {
          this.schoolId = uri[4].slice(0, uri[4].length - 1);
        }
        else {
          this.schoolId = uri[4][0];
        }



        // do 

        this.$router.push('/school/' + this.schoolId);
      },
      methods: {
        openprofile() {
          this.$router.push('/school/' + this.schoolId);
        },
        openstudents() {
          this.$router.push('/school/students/' + this.schoolId);
        },
        openstats() {
          this.$router.push('/school/stats/' + this.schoolId);
        },
        opengallery() {
          this.$router.push('/school/gallery/' + this.schoolId);
        },
        openorganogram() {
          this.$router.push('/school/organogram/' + this.schoolId);
        },
        myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        },
        myFunction1() {
          document.getElementById("myDropdown1").classList.toggle("show");
        }
      }

    });

  </script>

</body>

</html>