<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->

  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/axios.js"></script>
  <script src="/js/vue.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Options
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/users">Users</a>
          <a class="dropdown-item" href="/ratings">Ratings</a>
          <a class="dropdown-item" href="/items">Items</a>
        </div>
      </li>
    </ul>
  </nav>
  <br>

  <div id="root">
    <div class="container">
      <div class="row">
        
        <div class="col-md-8">
          
          <table class="table table-hover tablee-bordered table-stripped">
            
            <tbody>
              <tr>
                <td>Push Passing</td>
                <td>Power</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Push Passing</td>
                <td>Accuracy</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                			                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Drive Pass</td>
                <td>Power</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Drive Pass</td>
                <td>Accuracy</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Shots On Goal</td>
                <td>Ball Motion</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Shots On Goal</td>
                <td>Ball Stationed</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Ball Control Within 1 Square Meter</td>
                <td>Aerial Ball</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Ball Control Within 1 Square Meter</td>
                <td>Grounded Ball</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Ball Control Within 1 Square Meter</td>
                <td>Juggling</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Penalty</td>
                <td>Shots Taken</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Take Ons and Interceptions</td>
                <td>Against Goalkeeper</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Take Ons and Interceptions</td>
                <td>Against Defender and Goalkeeper</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Take Ons and Interceptions</td>
                <td>Interception/Defending</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Take Ons and Interception</td>
                <td>Wall Position</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Goal Keeping</td>
                <td>Ground Ball</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Goal Keeping</td>
                <td>Chest High Balls</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Bouncing Balls</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Ball Tipping</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Wall Positioning</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Footwork</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Driving Left</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Driving Right</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Long Throw</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Distribution</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Push Passing</td>
                <td>Power</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Push Passing</td>
                <td>Accuracy</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              
 
            </tbody>
          </table>
        </div>
        <!-- 
        <div class="col-md-4">
          <form>
            <div class="form-group">
              <lable>Id :</lable>
              <input type="text" v-model="input.id" class="form-control"/>
            </div>
            <div class="form-group">
              <lable>Title :</lable>
              <input type="text" v-model="input.title" class="form-control"/>
            </div>
            <button v-if="savebtn" @click.prevent="save" class="btn btn-primary">Save</button>
            <button v-if="updatebtn" @click.prevent="update(post.id)" class="btn btn-primary">Update</button>
            <button @click.prevent="clear" class="btn btn-info">Clear</button>
          </form>
        </div>
         -->
      </div>
    </div>
  </div>

</body>
<script>
  var app1 = new Vue({
    el: '#app',
    data: {
      seen: true
    }
  })
  var app = new Vue({
    el: '#root',
    data: {
      posts: [],
      input:{
        id:'',
        title:''
      },
      savebtn:true,
      updatebtn:false
    },
    mounted() {
      this.fetchPosts();
    },
    methods: {
      fetchPosts() {
        axios.get("/items").then(function (response) {
          this.posts = response.data;
        }.bind(this));
      },
      save(){
        axios.post("/saveitem", {
          id : this.input.id,
         title : this.input.title
        }).then(function(response){
          const data = response.data
          this.$set(this.posts,response.data.id - 1,response.data)
        }.bind(this))
        this.clear()
      },
      clear(){
        this.input.id = ''
        this.input.title=''
      },
      edit(post){
          this.savebtn = false
          this.updatebtn = true

          this.input.id = post.id
          this.input.title = post.title
      },
      update(){

      },
      delete(){

      }
    }
  });
</script>

</html>