<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Athlete</title>

  <!-- Bootstrap CSS CDN -->
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/bodystyle.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
    crossorigin="anonymous"></script>

</head>

<body>
  <div id="root">
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h4><i><b>Sportlight International</b></i></h4>
          <strong><i>SP<sup>i</i></sup></strong>
        </div>

        <ul class="list-unstyled components">
          <li class="active12">
            <a href="#" v-on:click="openprofile">
              <i class="fa fa-user-circle"></i>
              Profile
            </a>
          </li>
          <li>
            <a href="#statisticsMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fa fa-chart-bar"></i>
              Statistics
            </a>
            <ul class="collapse list-unstyled" id="statisticsMenu">
              <li v-for="category in categories">
                <a class="dropdown-item" v-on:click="openstats(category.eventid)">{{category.discipline}}
                  {{category.event}}</a>
              </li>
            </ul>
          </li>
          <li>
            <a v-on:click="opengallery">
              <i class="fa fa-image"></i>
              Gallery
            </a>
          </li>

        </ul>


      </nav>

      <!-- Page Content  -->
      <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>

            </button>
            <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <a class="navbar-brand font-weight-bold" href="/home"> <img src="/img/oficial logo.png" height="50"
                  width="50" alt="">
              </a>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">

                <li class="nav-item">
                  <a class="navbar-brand font-weight-bold" href="/home"> <img src="/img/oficial logo.png" height="50"
                      width="50" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div>
          <router-view></router-view>
          <footer class="footer py-4">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright © Sportlight International 2020</div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 my-3 my-lg-0">
                  <a class="btn btn-success btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-success btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-success btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>

              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>

  </div>
  <template id="profile">

    <div class="container234">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="text-sm-center mt-2 mb-1 text-gray-800">Athlete Profile</h3>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="container-fluid px-1">

            <div class="card shadow mb-4">
              <!--
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
            </div>-->
              <img class="card-img-top" v-bind:src="student.profileimg" alt="Image not ready.">
              <div class="card-body bg-light">
                <h5 class="text-sm-center mt-2 mb-1">Name : {{student.firstname}} {{student.middlename}}
                  {{student.surname}}</h5>
                <h5 class="text-sm-center mt-2 mb-1">Age : {{age}}</h5>

              </div>
            </div>
          </div>
        </div>
        <div class=" col-sm-6 col-md-8 col-lg-9">
          <div class="container-fluid px-1">
            <div class="card shadow mb-4">
              <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-gray-800"><i class="fa fa-user-circle text-success"></i> Personal Details</h6>
              </div>
              <div class="card-body">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h4 class="card-title">Name : {{student.firstname}} {{student.middlename}} {{student.surname}}</h4>
                  <img src="/img/zimbabwe.png" class="flag d-none d-sm-inline-block"></img>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover table-stripped table-bordered">
                    <tbody>
                      <tr>
                        <td>Date of Birth</td>
                        <td>{{new Date(student.dob).toLocaleDateString()}}</td>
                      </tr>
                      <tr>
                        <td>Gender</td>
                        <td>{{student.gender}}</td>
                      </tr>
                      <tr>
                        <td>Height</td>
                        <td>{{student.height}} <i>m</i></td>
                      </tr>
                      <tr>
                        <td>Weight</td>
                        <td>{{student.weight}} <i>kg</i></td>
                      </tr>
                      <tr>
                        <td>Body Mass Index</td>
                        <td>{{student.bmi}} <i>kg/m</i></td>
                      </tr>
                      <tr>
                        <td>Nationality</td>
                        <td>{{student.nationality}}</td>
                      </tr>
                      <tr>
                        <td>Activities</td>
                        <td>
                          <a v-for="category in categories" class=""
                            v-on:click="openstats(category.eventid)">{{category.discipline}}
                            {{category.event}}</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="container111">
            <div class="card shadow mb-4">
              <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-gray-800">Achievements/Medals</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-stripped table-bordered">
                    <thead>
                      <tr>
                        <th>Medal</th>
                        <th>Event</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img src="/img/gold.jpg" class=" flag d-sm-inline-block"></img>Gold</td>
                        <td>
                          <p v-if="!golds.length">None</p>
                          <p v-for="(gold, i) in golds">{{i + 1}}. {{gold.description}} -
                            <b class="text-primary"> {{new Date(gold.awarddate).getFullYear()}}</b></p>
                        </td>
                      </tr>
                      <tr>
                        <td><img src="/img/silver.jpg" class=" flag d-sm-inline-block"></img>Silver </td>
                        <td>
                          <p v-if="!silvers.length">None</p>
                          <p v-for="silver in silvers">{{i + 1}}. {{silver.description}} -
                            {{new Date(silver.awarddate).getFullYear()}}</p>
                        </td>
                        </td>
                      </tr>
                      <tr>
                        <td><img src="/img/bronze.jpg" class=" flag d-sm-inline-block"></img>Bronze </td>
                        <td>
                          <p v-if="!bronzes.length">None</p>
                          <p v-for="bronze in bronzes">{{i + 1}}. {{bronze.description}} -
                            {{new Date(bronze.awarddate).getFullYear()}}</p>
                        </td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </template>
  <template id="statistics">
    <div class="container1">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="container-fluid px-0">
            <div class="card shadow mb-4">
              <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-gray-800">Statistics </h6>
              </div>
              <div class="card-body">
                <table class="table table-hover table-responsive-sm table-stripped table-bordered">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>World Best</th>
                      <th>Regional Best</th>
                      <th>National Best</th>
                      <th>Personal Record</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="record in records">
                      <td>{{new Date(record.datecollected).toLocaleDateString()}}</td>
                      <td>{{record.worldbest}} {{record.siunit}}</td>
                      <td>{{record.regionalbest}} {{record.siunit}}</td>
                      <td>{{record.nationalbest}} {{record.siunit}}</td>
                      <td>{{record.personalbest}} {{record.siunit}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-6">
              <div class="container-fluid px-1">
                <div class="card shadow mb-4">
                  <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-gray-800">Performance Chart</h6>
                    <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Options:</div>
                        <a class="dropdown-item text-gray-400" v-on:click="calcAverage">Show Averages</a>
                        <a class="dropdown-item text-gray-400" v-on:click="fillData">Latest Record</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <bar-chart :chart-data="datacollection"></bar-chart>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="container-fluid px-1">
                <div class="card shadow mb-4">
                  <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-gray-800">Performance Chart</h6>
                    <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Shows an athletes records on a line graph, clearly showing the progress
                          of the athlete.
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <line-chart :data="dataChart" :options="{responsive: true, maintainAspectRatio: false}">
                    </line-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="container-fluid px-1">
                <div class="card shadow mb-4">
                  <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-gray-800">Vitals</h6>
                  </div>
                  <div class="card-body">
                    <table class="table table-hover table-responsive-sm table-stripped table-bordered">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Weight</th>
                          <th>Height</th>
                          <th>BMI</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="vital in vitals">
                          <td>{{new Date(vital.datecollected).toLocaleDateString()}}</td>
                          <td>{{vital.weight}}kg</td>
                          <td>{{vital.height}}m</td>
                          <td>{{vital.bmi}}kg/m</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="container-fluid px-0">
                <div class="card shadow mb-2">
                  <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-gray-800">Doping Tests</h6>
                  </div>
                  <div class="card-body">
                    <table class="table table-hover table-responsive-sm table-stripped table-bordered">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Doping Test</th>
                          <th>Heart Rate</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="dope in doping">
                          <td>{{new Date(dope.datecollected).toLocaleDateString()}}</td>
                          <td>{{dope.dope}}</td>
                          <td>{{dope.heartrate}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </template>
  <template id="gallery">
    <div class="container px-0">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4" v-for="image in images">
            <div class="card mb-4"><img class="img-fluid" v-bind:src="image.link" alt="Card image cap">
              <div class="card-body"><span class="card-title">{{image.description}}</span>
                <p class="card-text">{{new Date(image.dateuploaded).toLocaleDateString()}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <!-- jQuery CDN - Slim version (=without AJAX) 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
  <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
  <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>-->

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/axios.js"></script>
  <script src="/js/new.vue.min.js"></script>
  <script src="/js/vue-router.js"></script>
  <script src="/js/Chart.min.js"></script>
  <script src="/js/vue-chartjs.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>
  <script>
    const randomColor = () => 'hsl(${Math.floor(Math.random() * 360)}, 75%, 85%)';
    Vue.component("line-chart", {
      extends: VueChartJs.Line,
      data() {
        return {
          lineChartlabels: []
        }
      },
      props: ["data", "options"],
      mounted() {
        console.log("line chart");
        this.renderLineChart();
      },
      computed: {
        chartData1: function () {
          return this.data;
        }
      },
      methods: {
        renderLineChart: function () {
          this.renderChart(
            {
              labels: this.lineChartlabels,
              datasets: [
                {
                  label: "Record",
                  backgroundColor: "rgba(54, 162, 235, 0.6)",
                  data: this.chartData
                }
              ]
            },
            { responsive: true, maintainAspectRatio: false }
          );
        }
      },
      watch: {
        data: function () {
          this.chartData = this.data.map((item) => {
            return item.personalbest;
          });
          this.lineChartlabels1 = this.data.map((item) => {
            return item.datecollected;
          });
          i = 0;
          this.lineChartlabels1.forEach((item) => {
            this.lineChartlabels[i] = new Date(item).toLocaleDateString();
            i++;
          });
          this.renderLineChart();
        }
      }
    });


    Vue.component('bar-chart', {
      extends: VueChartJs.Bar,
      mixins: [VueChartJs.mixins.reactiveProp],
      data: function () {
        return {
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                },
                gridLines: {
                  display: true
                }
              }],
              xAxes: [{
                ticks: {
                  beginAtZero: true
                },
                gridLines: {
                  display: false
                }
              }]
            },
            legend: {
              display: false
            },
            tooltips: {
              enabled: true,
              mode: 'single',
              callbacks: {
                label: function (tooltipItems, data) {
                  return tooltipItems.yLabel;
                }
              }
            },
            responsive: true,
            maintainAspectRatio: false,
            height: 200
          }
        }
      },
      mounted() {
        console.log("siunit " + this.unit);
        console.log("bar chart");
        // this.chartData is created in the mixin
        this.renderChart(this.chartData, this.options)
      }
    })


    const Route3 = Vue.component('app-department', {

      data() {
        return {
          records: [],
          record: [],
          vitals: [],
          doping: [],
          worldBest: '',
          regionalBest: 0,
          nationalBest: 0,
          personalBest: 0,
          dataChart: null,
          datacollection: null,
          siunit: ''
        }
      },
      created() {
        console.log("dataChart 2");


      },
      mounted() {
        this.fetchRecords1();
        console.log("statistsics");
        this.fetchRecords();
        console.log("dataChart 1");
        this.fetchVitals();
        this.fetchDoping();
        console.log(this.datacollection + " datacollection");
        console.log(this.dataChart + " => chartData");

        // this.status = this.$route.params.status;
      },
      methods: {
        calcAverage: function () {
          console.log("change data");
          this.dataChart1 = [];
          recName = ["worldbest", "regionalbest", "nationalbest", "personalbest"];

          for (var i = 0; i < 4; i++) {
            console.log(i + " for");
            switch (i) {
              case 0:
                console.log(i);
                value = this.records.map((item) => {
                  return item.worldbest;
                });
                total = value.reduce((currentTot, item) => {
                  return item + currentTot
                }, 0);
                console.log(i);
                console.log(value + "value");
                break;
              case 1:
              
                value = this.records.map((item) => {
                  return item.regionalbest;
                });
                total = value.reduce((currentTot, item) => {
                  return item + currentTot
                }, 0);
                console.log(i);
                console.log(value + "value" );
                break;
              case 2:
              console.log(i);
                value = this.records.map((item) => {
                  return item.nationalbest;
                });
                total = value.reduce((currentTot, item) => {
                  return item + currentTot
                }, 0);
                console.log(value + "value");
                break;
              case 3:
              console.log(i);
                value = this.records.map((item) => {
                  return item.personalbest;
                });
                total = value.reduce((currentTot, item) => {
                  return item + currentTot
                }, 0);
                console.log(value + "value");
                break;
            }
            this.dataChart1[i] = total/value.length;
            total = 0;
            console.log(this.dataChart1)
          }
          this.fillData1(this.dataChart1);

        },
        fetchRecords() {
          console.log("running");
          axios.get("/getatheleterecords/", {
            params: {
              studentId: this.$route.params.studentId,
              eventId: this.$route.params.eventId,
            }
          }).then(function (response) {
            this.records = response.data;
            console.log(this.records);
            this.dataChart = response.data;
            //this.fillDataChart();
            console.log("dataChart " + this.dataChart);
          }.bind(this));
        },
        fetchVitals() {
          console.log("running");
          axios.get("/getatheletevitals/", {
            params: {
              studentId: this.$route.params.studentId
            }
          }).then(function (response) {
            this.vitals = response.data;
          }.bind(this));
        },
        fillDataChart() {
          this.dataChart = this.records.map((item) => {
            return item.personalbest;
          });
          this.lineChartlabels = this.records.map((item) => {
            return item.datecollected;
          });
        },
        fillData() {
          this.datacollection = {
            labels: ['World Record', 'Regional Record', 'National Record', 'Personal Record'],
            datasets: [
              {
                label: 'Data One',
                backgroundColor: [
                  'rgba(255, 99, 132, 0.6)',
                  'rgba(54, 162, 235, 0.6)',
                  'rgba(255, 206, 86, 0.6)',
                  'rgba(75, 192, 192, 0.6)'
                ],
                data: [this.worldBest, this.regionalBest, this.nationalBest, this.personalBest]
                //data:[10,11,12,13]
              }
            ]
          }
        },
        fillData1(data1) {
          this.datacollection = {
            labels: ['World Record', 'Regional Record', 'National Record', 'Personal Record'],
            datasets: [
              {
                label: 'Data One',
                backgroundColor: [
                  'rgba(255, 99, 132, 0.6)',
                  'rgba(54, 162, 235, 0.6)',
                  'rgba(255, 206, 86, 0.6)',
                  'rgba(75, 192, 192, 0.6)'
                ],
                data: data1
                //data:[10,11,12,13]
              }
            ]
          }
        },
        fetchRecords1() {
          console.log("running");
          axios.get("/getatheleterecords1/", {
            params: {
              studentId: this.$route.params.studentId,
              eventId: this.$route.params.eventId,
            }
          }).then(function (response) {
            this.record = response.data;
            this.worldBest = this.record.worldbest;
            this.regionalBest = this.record.regionalbest;
            this.nationalBest = this.record.nationalbest;
            this.personalBest = this.record.personalbest;
            this.siunit = this.record.siunit;
            this.fillData();
            //this.fillDataChart();
            //fillData(this.record.WORLDBEST, this.record.REGIONALBEST, this.record.NATIONALBEST, this.record.PERSONALBEST);
            //console.log(this.data);
          }.bind(this));
        },
        fetchDoping() {
          console.log("running");
          axios.get("/getatheletedope/", {
            params: {
              studentId: this.$route.params.studentId,
            }
          }).then(function (response) {
            this.doping = response.data;
          }.bind(this));
        }
      },
      template: '#statistics'

    });

    const Gallery = Vue.component('app-department', {

      data: function () {
        return {
          images: [],



          savebtn: true,
          updatebtn: false
        }
      },
      mounted() {
        this.fetchImages();
      },
      methods: {
        fetchImages() {
          axios.get("/getathgallery/" + this.$route.params.studentId).then(function (response) {
            this.images = response.data;
            if (this.images === []) {
              window.alert("Athlete's gallery is empty.");
              this.$router.push('/athlete/' + this.studentId);
            }
            // console.log(this.student.FIRSTNAME);
          }.bind(this));
        },

        edit(post) {
          this.savebtn = false
          this.updatebtn = true

          this.input.id = post.body
          this.input.title = post.title
        },
        update() {

        },
        delete() {

        }
      },
      template: '#gallery'
    })


    const Route1 = Vue.component('app-department', {

      data: function () {
        return {
          student: [],
          golds: [],
          silvers: [],
          bronzes: [],
          categories: [],
          age: ''
        }
      },
      mounted() {
        this.fetchStudent();
        this.fetchMedals();
        this.fetchCategories();
      },
      methods: {
        fetchStudent() {
          axios.get("/getstudent/" + this.$route.params.studentId).then(function (response) {
            this.student = response.data;
            console.log(this.student.dob);
            this.age = this.calculateAge(this.student.dob);
          }.bind(this));
        },
        fetchMedals() {
          axios.get("/getathmedals/" + this.$route.params.studentId).then(function (response) {
            this.medals = response.data;
            this.myMedals();
          }.bind(this));
        },
        myMedals() {
          this.golds = this.medals.filter((item) => {
            return item.medalid === 1;
          });
          this.silvers = this.medals.filter((item) => {
            return item.medalid === 2;
          });
          this.bronzes = this.medals.filter((item) => {
            return item.medalid === 3;
          });
        },
        fetchCategories() {
          axios.get("/getcategories/" + this.$route.params.studentId).then(function (response) {
            this.categories = response.data;
          }.bind(this));
        },
        calculateAge(birthDate) {
          birthDate = new Date(birthDate);
          otherDate = new Date();

          var years = (otherDate.getFullYear() - birthDate.getFullYear());

          if (otherDate.getMonth() < birthDate.getMonth() ||
            otherDate.getMonth() == birthDate.getMonth() && otherDate.getDate() < birthDate.getDate()) {
            years--;
          }

          return years;
        }
      },
      template: '#profile'
    })


    const routes = [
      { path: '/athlete/:studentId', component: Route1 },
      { path: '/athlete/gallery/:studentId', component: Gallery },
      { path: '/athlete/:studentId/eventId/:eventId', name: 'statistics', component: Route3 },
    ];

    const router = new VueRouter({

      routes, // short for `routes: routes`
      // mode: 'history'
    });

    var vm = new Vue({
      el: '#root',
      data: {
        student: '',
        records: '',
        datacollection: '',
        studentId: '',
        categories: []
      },
      router,

      created() {
        console.log("uri");
        let uri = window.location.href.split('/');
        console.log(uri[4][0]);
        // if (uri.length == 5)
        //  {
        if (uri[4].length > 2) {
          this.studentId = uri[4].slice(0, uri[4].length - 1);
        }
        else {
          this.studentId = uri[4][0];
        }


        // do 
        //   }
        this.$router.push('/athlete/' + this.studentId);
        console.log("pushed profile");
        this.fetchCategories();
      },
      methods: {
        toggleMenu() {
          console.log("toggling");
          document.getElementById("accordionSidebar").classList.toggle("toggled");
        },
        openprofile() {
          this.$router.push('/athlete/' + this.studentId);
        },
        opengallery() {
          console.log(this.studentId);
          this.$router.push('/athlete/gallery/' + this.studentId);
        },
        openstats(trackId) {
          this.$router.push('/athlete/' + this.studentId + '/eventId/' + trackId);
        },
        myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        },
        myFunction1() {
          document.getElementById("myDropdown1").classList.toggle("show");
        },
        fetchCategories() {
          axios.get("/getcategories/" + this.studentId).then(function (response) {
            this.categories = response.data;
            //console.log(this.student.FIRSTNAME);
          }.bind(this));
        },
      }

    });

  </script>

</body>

</html>