<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Athlete</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/simple-sidebar.css" rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


  <script src="/js/new.jquery.min.js"></script>


  <script src="/js/popper.min.js"></script>
  <script src="/js/new.bootstrap.min.js"></script>
  <script src="/js/axios.js"></script>
  <script src="/js/new.vue.min.js"></script>
  <script src="/js/vue-router.js"></script>
  <script src="/js/Chart.min.js"></script>
  <script src="/js/vue-chartjs.js"></script>
</head>

<body>
  <div id="root">

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        

        <!-- Divider -->
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Menu
        </div>

        <li class="nav-item">
          <a class="nav-link" v-on:click="openprofile">
            <i class="fa fa-user-circle fa-chart-area"></i>
            <span>Profile</span></a>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">

          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fa fa-fw fa-cog"></i>
            <span>Statistics</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div v-for="category in categories">
              <a class="dropdown-item" v-on:click="openstats(category.eventid)">{{category.discipline}}
                {{category.event}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" v-on:click="opengallery">
            <i class="fa fa-gallery fa-chart-area"></i>
            <span>Gallery</span></a>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->

        <!-- Heading -->

        <!-- Nav Item - Charts -->


        <!-- Nav Item - Tables -->


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle" v-on:click="toggleMenu()"></button>
        </div>

      </ul>

      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">
            <a class="navbar-brand font-weight-bold" href="/home"> <img src="/img/oficial logo.png" height="50" width="50" alt="">
            </a>
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              
            </ul>

          </nav>




          <div class="">
            <router-view></router-view>
          </div>
        </div>


      </div>

      <!-- /#wrapper -->
    </div>
    <div id="app">
      <!-- route outlet -->
      <!-- component matched by the route will render here -->

    </div>
  </div>
  <template id="profile">

    <div class="container234">
      <div class="row no-gutters">
        <div class="col-md-4 col-sm-8 col-xs-12">
          <div class="container-fluid px-0">
            <div class="card shadow mb-4"><!--
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
              </div>-->
              <img class="card-img-top" v-bind:src="student.profileimg" alt="Image not ready.">
              <div class="card-body">
                <span>Name : {{student.firstname}} {{student.middlename}} {{student.surname}}<br></span>
                <span>Age : {{new Date(student.dob).toLocaleDateString()}}<br></span>
                <span>Sports : </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="container-fluid px-0">
            <div class="card shadow mb-4">
              <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Personal Details</h6>
              </div>
              <div class="card-body">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h4 class="card-title" >Name : {{student.firstname}} {{student.middlename}} {{student.surname}}</h4>
                  <img src="/img/zimbabwe.png" class="flag d-none d-sm-inline-block"></img>
                </div>
                <table class="table table-hover table-sm table-stripped table-bordered">
                  <tr>
                    <td>Date of Birth</td>
                    <td>{{new Date(student.dob).toLocaleDateString()}}</td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>{{student.gender}}</td>
                  </tr>
                  <tr>
                    <td>Height</td>
                    <td>{{student.height}}</td>
                  </tr>
                  <tr>
                    <td>Weight</td>
                    <td>{{student.weight}}</td>
                  </tr>
                  <tr>
                    <td>Body Mass Index</td>
                    <td>{{student.bmi}}</td>
                  </tr>
                  <tr>
                    <td>Nationality</td>
                    <td>{{student.nationality}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row no-gutters">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="container px-0">
            <div class="card shadow mb-4">
              <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Achievements/Medals</h6>
              </div>
              <div class="card-body">
                <table class="table table-primary table-hover table-responsive-sm table-stripped table-bordered">
                  <thead>
                    <tr>
                      <th>Medal</th>
                      <th>Event</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img src="/img/gold.jpg" class=" flag d-sm-inline-block"></img>Gold</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td><img src="/img/silver.jpg" class=" flag d-sm-inline-block"></img>Silver </td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td><img src="/img/bronze.jpg" class=" flag d-sm-inline-block"></img>Bronze </td>
                      <td>0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="container px-0"><img src="/img/nocheating.jpg" class="img-fluid" alt="image not ready"></img>
         </div>
        </div>
      </div>
    </div>
  </template>
  <template id="statistics">
    <div class="container1">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="container-fluid px-0">
            <div class="card shadow mb-4">
              <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Statistics </h6>
              </div>
              <div class="card-body">
                <table class="table table-hover table-responsive-sm table-stripped table-bordered">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>World Best</th>
                      <th>Regional Best</th>
                      <th>National Best</th>
                      <th>Personal Record</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="record in records">
                      <td>{{new Date(record.datecollected).toLocaleDateString()}}</td>
                      <td>{{record.worldbest}}</td>
                      <td>{{record.regionalbest}}</td>
                      <td>{{record.nationalbest}}</td>
                      <td>{{record.personalbest}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-6">
              <div class="container px-0">
              <div class="card shadow mb-4">
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Performance Chart</h6>
                </div>
                <div class="card-body">
                  <bar-chart :chart-data="datacollection"></bar-chart>
                </div>
              </div>
            </div>
            </div>
            <div class="col-md-6">
              <div class="container-fluid px-0">
              <div class="card shadow mb-4">
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Performance Chart</h6>
                </div>
                <div class="card-body">
                  <line-chart :data="dataChart" :options="{responsive: true, maintainAspectRatio: false}"></line-chart>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="container-fluid px-0">
                <div class="card shadow mb-4">
                  <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Vitals</h6>
                  </div>
                  <div class="card-body">
                    <table class="table table-hover table-responsive-sm table-stripped table-bordered">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Weight</th>
                          <th>Height</th>
                          <th>BMI</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="vital in vitals">
                          <td>{{new Date(vital.datecollected).toLocaleDateString()}}</td>
                          <td>{{vital.weight}}</td>
                          <td>{{vital.height}}</td>
                          <td>{{vital.bmi}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="container-fluid px-0">
                <div class="card shadow mb-2">
                  <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Doping Tests</h6>
                  </div>
                  <div class="card-body">
                    <table class="table table-hover table-responsive-sm table-stripped table-bordered">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Doping Test</th>
                          <th>Heart Rate</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="dope in doping">
                          <td>{{new Date(dope.datecollected).toLocaleDateString()}}</td>
                          <td>{{dope.dope}}</td>
                          <td>{{dope.heartrate}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </template>
  <template id="gallery">
    <div class="container px-0">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4" v-for="image in images">
            <div class="card mb-4"><img class="img-fluid" v-bind:src="image.link" alt="Card image cap">
              <div class="card-body"><span class="card-title">{{image.description}}</span>
                <p class="card-text">{{new Date(image.dateuploaded).toLocaleDateString()}}</p><a href="#" class="btn btn-dark btn-sm">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    Vue.component("line-chart", {
      extends: VueChartJs.Line,
      props: ["data", "options"],
      mounted() {
        console.log("line chart");
        this.renderLineChart();
      },
      computed: {
        chartData: function () {
          return this.data;
        }
      },
      methods: {
        renderLineChart: function () {
          this.renderChart(
            {
              labels: ["January", "February", "March", "April", "May", "June", "July"],
              datasets: [
                {
                  label: "Record",
                  backgroundColor: "#f87979",
                  data: this.chartData
                }
              ]
            },
            { responsive: true, maintainAspectRatio: false }
          );
        }
      },
      watch: {
        data: function () {
          this.renderLineChart();
        }
      }
    });


    Vue.component('bar-chart', {
      extends: VueChartJs.Bar,
      mixins: [VueChartJs.mixins.reactiveProp],
      data: function () {
        return {
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                },
                gridLines: {
                  display: true
                }
              }],
              xAxes: [{
                ticks: {
                  beginAtZero: true
                },
                gridLines: {
                  display: false
                }
              }]
            },
            legend: {
              display: false
            },
            tooltips: {
              enabled: true,
              mode: 'single',
              callbacks: {
                label: function (tooltipItems, data) {
                  return '$' + tooltipItems.yLabel;
                }
              }
            },
            responsive: true,
            maintainAspectRatio: false,
            height: 200
          }
        }
      },
      mounted() {
        console.log("bar chart");
        // this.chartData is created in the mixin
        this.renderChart(this.chartData, this.options)
      }
    })


    const Route3 = Vue.component('app-department', {

      data() {
        return {
          records: [],
          record: [],
          vitals: [],
          doping: [],
          worldBest: '',
          regionalBest: 0,
          nationalBest: 0,
          personalBest: 0,
          dataChart: null,
          lineChartlabels:null,
          datacollection: null

        }
      },
      created() {
        console.log("dataChart 2"); 
        

      },
      mounted() {
        this.fetchRecords1();
        console.log("statistsics");
        this.fetchRecords();  
        console.log("dataChart 1");   
        this.fetchVitals();
        this.fetchDoping();
        console.log(this.datacollection + " datacollection");
        console.log(this.dataChart + " => chartData");

        // this.status = this.$route.params.status;
      },
      methods: {
        changeData: function() {
          console.log("change data");
      this.dataChart = [6, 6, 3, 5, 5, 6,7];
    },
        fetchRecords() {
          console.log("running");
          axios.get("/getatheleterecords/", {
            params: {
              studentId: this.$route.params.studentId,
              eventId: this.$route.params.eventId,
            }
          }).then(function (response) {
            this.records = response.data;
            this.fillDataChart();
            console.log("dataChart " + this.dataChart);
          }.bind(this));
        },
        fetchVitals() {
          console.log("running");
          axios.get("/getatheletevitals/", {
            params: {
              studentId: this.$route.params.studentId
            }
          }).then(function (response) {
            this.vitals = response.data;
          }.bind(this));
        },
        fillDataChart(){
          this.dataChart = this.records.map((item) => {
              return item.personalbest;
            });
            this.lineChartlabels = this.records.map((item) => {
              return item.datecollected;
            });
        },
        fillData() {
          this.datacollection = {
            labels: ['World Record', 'Regional Record', 'National Record', 'Personal Record'],
            datasets: [
              {
                label: 'Data One',
                backgroundColor: '#f87979',
                data: [this.worldBest, this.regionalBest, this.nationalBest, this.personalBest]
                //data:[10,11,12,13]
              }
            ]
          }
        },
        fetchRecords1() {
          console.log("running");
          axios.get("/getatheleterecords1/", {
            params: {
              studentId: this.$route.params.studentId,
              eventId: this.$route.params.eventId,
            }
          }).then(function (response) {
            this.record = response.data;
            this.worldBest = this.record.worldbest;
            this.regionalBest = this.record.regionalbest;
            this.nationalBest = this.record.nationalbest;
            this.personalBest = this.record.personalbest;
            console.log(this.worldBest);
            this.fillData();
            //this.fillDataChart();
            //fillData(this.record.WORLDBEST, this.record.REGIONALBEST, this.record.NATIONALBEST, this.record.PERSONALBEST);
            //console.log(this.data);
          }.bind(this));
        },
        fetchDoping() {
          console.log("running");
          axios.get("/getatheletedope/", {
            params: {
              studentId: this.$route.params.studentId,
            }
          }).then(function (response) {
            this.doping = response.data;
          }.bind(this));
        }
      },
      template: '#statistics'

    });

    const Gallery = Vue.component('app-department', {

      data: function () {
        return {
          images: [],



          savebtn: true,
          updatebtn: false
        }
      },
      mounted() {
        this.fetchImages();
      },
      methods: {
        fetchImages() {
          axios.get("/getathgallery/" + this.$route.params.studentId).then(function (response) {
            this.images = response.data;
            if (this.images === []) {
              window.alert("Athlete's gallery is empty.");
              this.$router.push('/athlete/' + this.studentId);
            }
            // console.log(this.student.FIRSTNAME);
          }.bind(this));
        },

        edit(post) {
          this.savebtn = false
          this.updatebtn = true

          this.input.id = post.body
          this.input.title = post.title
        },
        update() {

        },
        delete() {

        }
      },
      template: '#gallery'
    })


    const Route1 = Vue.component('app-department', {

      data: function () {
        return {
          student: [],



          savebtn: true,
          updatebtn: false
        }
      },
      mounted() {
        this.fetchStudent();
      },
      methods: {
        fetchStudent() {
          axios.get("/getstudent/" + this.$route.params.studentId).then(function (response) {
            this.student = response.data;
            console.log(this.student.firstname);
          }.bind(this));
        },
        save() {
          axios.post("/saveitem", {
            body: this.input.body,
            title: this.input.title
          }).then(function (response) {
            const data = response.data
            this.$set(this.posts, response.data.id - 1, response.data)
          }.bind(this))
          this.clear()
        },
        clear() {
          this.input.body = ''
          this.input.title = ''
        },
        edit(post) {
          this.savebtn = false
          this.updatebtn = true

          this.input.id = post.body
          this.input.title = post.title
        },
        update() {

        },
        delete() {

        }
      },
      template: '#profile'
    })


    const routes = [
      { path: '/athlete/:studentId', component: Route1 },
      { path: '/athlete/gallery/:studentId', component: Gallery },
      { path: '/athlete/:studentId/eventId/:eventId', name: 'statistics', component: Route3 },
    ];

    const router = new VueRouter({

      routes, // short for `routes: routes`
      // mode: 'history'
    });

    var vm = new Vue({
      el: '#root',
      data: {
        studentId: '',
        categories: []
      },
      router,

      created() {
        console.log("uri");
        let uri = window.location.href.split('/');
        console.log(uri[4][0]);
        // if (uri.length == 5)
        //  {
        if (uri[4].length > 2) {
          this.studentId = uri[4].slice(0, uri[4].length - 1);
        }
        else {
          this.studentId = uri[4][0];
        }


        // do 
        //   }
        this.$router.push('/athlete/' + this.studentId);
        this.fetchCategories();
      },
      methods: {
        toggleMenu() {
                    console.log("toggling");
                    document.getElementById("accordionSidebar").classList.toggle("toggled");
                },
        openprofile() {
          this.$router.push('/athlete/' + this.studentId);
        },
        opengallery() {
          console.log(this.studentId);
          this.$router.push('/athlete/gallery/' + this.studentId);
        },
        openstats(trackId) {
          this.$router.push('/athlete/' + this.studentId + '/eventId/' + trackId);
        },
        myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        },
        myFunction1() {
          document.getElementById("myDropdown1").classList.toggle("show");
        },
        fetchCategories() {
          axios.get("/getcategories/" + this.studentId).then(function (response) {
            this.categories = response.data;
            //console.log(this.student.FIRSTNAME);
          }.bind(this));
        },
      }

    });

  </script>

</body>

</html>