<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My blog.</title>
<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,500,400italic,500italic,700,700italic'
	rel='stylesheet' type='text/css'>
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"> -->

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/create.css">
<link href="https://cdn.quilljs.com/1.0.0-beta.9/quill.bubble.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/monokai-sublime.min.css">
<!--  EXTERNAL JAVASCRIPT -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
<script src="https://cdn.quilljs.com/1.0.0-beta.9/quill.js"></script><script src="/js/jquery.js"></script>


<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/vue.js"></script>
</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Logo</a>

		<!-- Links -->
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="#">Link 1</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Link 2</a></li>

			<!-- Dropdown -->
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbardrop"
				data-toggle="dropdown"> Options </a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/users">Users</a> <a
						class="dropdown-item" href="/ratings">Ratings</a> <a
						class="dropdown-item" href="/items">Items</a>
				</div></li>
		</ul>
	</nav>

	<h1>My blog.</h1>
	<div id="root" class="container">
		<form>
			<div class="form-group">
				<label>First Name :</label>
				<input type="text" v-model="input.fname" class="form-control" />
			</div>
			<div class="form-group">
				<label>Middle Name :</label>
				<input type="text" v-model="input.mname" class="form-control" />
			</div>
			<div class="form-group">
				<label>Surname :</label>
				<input type="text" v-model="input.surname" class="form-control" />
			</div>
			<div class="form-group">
				<label>School :</label>
				<input type="text" v-model="input.school" class="form-control" />
			</div>
			<div class="form-group">
				<label>Profile Image :</label>
				<input type="file" @change="onFileSelected" />
			</div>
			<button v-if="savebtn" @click.prevent="save" class="btn btn-primary">Save</button>
			<button v-if="updatebtn" @click.prevent="update(post.id)"
				class="btn btn-primary">Update</button>
			<button @click.prevent="clear" class="btn btn-info">Clear</button>
		</form>
	</div>
	<!--
	<div class="container" id="editor-container">
  		<p>Gandalf the Grey</p>
	</div> 
	<div class="container javascript" id="delta-container">
	</div> -->
	
	
</body>
<script>
var app = new Vue({
    el: '#root',
    data: {
      input:{
        fname:'',
        mname:'',
        surname:'',
        school:'',
        address:'',
        email:''
      },
      selectedFile: null,
      savebtn:true,
      updatebtn:false
    },
    methods: {
    	onFileSelected(event){
    		this.selectedFile = event.target.files[0]
    	},
      save(){
    	 const fd =new FormData();
    	 fd.append('firstName', this.input.fname);
    	 fd.append('middleName' , this.input.mname);
    	 fd.append('surname', this.input.surname);
    	 fd.append('school' , this.input.school);
    	 fd.append('address', this.input.address);
    	 fd.append('email' , this.input.email);
    	 fd.append('image', this.selectedFile, this.selectedFile.name);
        axios.post("/publish", fd, {
        	onUploadProgress: uploadEvent=> {
        		console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
        	}
        } ,{
         // body : this.input.body,
         //title : this.input.title
        }).then(function(response){
        	window.alert(response.data)
        }.bind(this))
        this.clear()
      },
      clear(){
        this.input.body = ''
        this.input.title=''
      }
    }
  });
var quill = new Quill('#editor-container', {
	  theme: 'bubble'
	});
	quill.on('text-change', update);
	var container = document.querySelector('#delta-container');
	update();

	function update(delta) {
	  var contents = quill.getContents();
	  console.log('contents', contents);
	  var html = "contents = " + JSON.stringify(contents, null, 2);
	  if (delta) {
	    console.log('change', delta)
	    html = "change = " + JSON.stringify(delta, null, 2) + "\n\n" + html;
	  }
	  container.innerHTML = html;
	  hljs.highlightBlock(container);
	}
</script>
</html>