<div class="col-xl-10 col-lg-10">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Athlete Gallery</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select Student :</label>
                        <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    placeholder="" v-model="sstudent" @input="searchStudents(sstudent)"></a>
                            <div class="dropdown-menu">
                                <div v-for="student in students"><a class="dropdown-item"
                                        v-on:click="setStudent(student.STUDENT_ID, student.FIRSTNAME, student.MIDDLENAME, student.SURNAME)">{{student.FIRSTNAME}}
                                        {{student.MIDDLENAME}} {{student.SURNAME}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form row">
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">First Name : </label>
                        <div> <input type="text"
                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="studentFName" disabled></div>
                    </div>
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">Middle Name (Optional) :
                        </label>
                        <div> <input type="text"
                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="studentMName" disabled></div>
                    </div>
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">Surname </label> <input
                            type="text" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="" v-model="studentSurname"></div>
                </div>
                <hr>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Logo : </label> <input
                            type="file" class="form-control-file text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="School Name....." @change="onFileSelected"></div>
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">Caption </label> <input
                            type="text" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="" v-model="description"></div>
                </div><button @click.prevent="saveAGallery" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>