<div class="container-fluid">
    <div class="col-xl-10 col-lg-10">
        <div class="card shadow mb-4">
            <div v-if='control.edit'
                 class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 v-if='control.edit' class="m-0 font-weight-bold text-primary">Update
                    Category</h6>
            </div>
            <div v-if='control.save'
                 class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 v-if='control.edit' class="m-0 font-weight-bold text-primary">New
                    Category</h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group col-md-6 mb-3" v-if='control.edit'>
                        <label class="m-0 font-weight-bold">Search Category : </label>

                        <div>
                            <a class="dropdown-toggle1" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"> <input
                                    type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    v-model="category" @input="searchCategory(category)">
                            </a>
                            <div class="dropdown-menu">
                                <div v-for="category in categories">
                                    <a class="dropdown-item"
                                       v-on:click="setCategory(category)">{{category.CATEGORY}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label class="m-0 font-weight-bold">Est : </label> <input
                            type="category"
                            class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            v-model="category.category">
                    </div>
                    <hr>
                    <button v-if='control.edit' @click.prevent="updateCategory" class="btn btn-primary">Update Category</button>
                    <button v-if='control.save' @click.prevent="saveCategory" class="btn btn-primary">Save Category</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const Discipline = Vue.component('category', {
         template:'#category',
        data: function () {
            return {
                categories: [],
                category: {
                    catId: '',
                    category: ''
                },
                control: {
                    edit: false,
                    save: false
                }

            }
        },
        props: {
            update: {
                type: Boolean
            }
        },
        computed: {
            control() {
                return {edit: this.update,
                    save: !this.update};
            }

        },
        methods: {
            searchCategories(search) {
                console.log(search);
                axios.get("/searchcategories", {
                    params: {
                        search: search
                    }
                }).then(function (response) {
                    this.categories = response.data;
                }.bind(this));
            },
            setCategory(catId, category) {
                this.category.catId = category.catId;
                this.category.category = category.category;
                // document.getElementById("myDropdown3").classList.toggle("show");
                console.log(catId);

            },
            save() {
                axios.post("/savecategory", {
                    category: this.category.category,
                    // comment : this.comment
                }).then(function (response) {
                    if (response.data === "saved") {
                        swal({
                            icon: "success",
                            text: "Thanks for your input."
                        });
                    } else {
                        swal({
                            icon: "error",
                            text: "something went wrong."
                        });
                    }
                }.bind(this))
                this.clear()
            },
            update() {
                axios.post("/updatecategory", {
                    catId: this.category.catId,
                    category: this.category.category,
                    // comment : this.comment
                }).then(function (response) {
                    if (response.data === "saved") {
                        swal({
                            icon: "success",
                            text: "Category updated successfuly."
                        });
                    } else {
                        swal({
                            icon: "success",
                            text: "something went wrong."
                        });
                    }
                }.bind(this))
                this.clear()
            }
        }
    });

</script>