<div class="col-xl-10 col-lg-10">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Register Coach</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="form row">
                    <div class="form-group col-md-4 mb-3">
                        <h6 class="m-0 font-weight-bold">Coach Name :</h6><input type="text"
                            class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary" placeholder=""
                            v-model="coach.fname">
                    </div>
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">Middle Name : </label>
                        <input type="text" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="" v-model="coach.mname"></div>
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">Surname : </label> <input
                            type="text" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="" v-model="coach.surname"></div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">D.O.B : </label> <input
                            type="date" class="form-control text-sm  border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="" v-model="coach.dob"></div>
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">Profile Photo :</label>
                        <input type="file"
                            class="form-control-file text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="" @change="onFileSelected"></div>
                    <div class="form-check col-md-4 mb-3"><label class="m-0 font-weight-bold">Gender :
                        </label><br><input type="radio" id="male" value="Male" v-model="student.gender"> <label
                            for="male">Male</label><input type="radio" id="female" value="Female"
                            v-model="coach.gender"> <label for="female">Female</label></div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Nationality : </label>
                        <input type="text" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="" v-model="coach.nationality"></div>
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">ID Number : </label>
                        <input type="text" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="" v-model="coach.natReg"></div>
                </div>
                <hr>
                <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select Post</label>
                    <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="text"
                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                v-model="post"></a>
                        <div class="dropdown-menu">
                            <div v-for="post in posts"><a class="dropdown-item"
                                    v-on:click="setPost(post.postid, post.post)"> {{post.post}}</a></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select School : </label>
                    <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="text"
                                class="form-control text-sm  border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="sschool" @input="searchSchools(sschool)"></a>
                        <div class="dropdown-menu">
                            <div v-for="school in schools"><a class="dropdown-item"
                                    v-on:click="setSchool(school.SCHOOL_ID, school.NAME, school.PROVINCE, school.CITY)">{{school.SCHOOL_ID}}:
                                    {{school.NAME}}</a></div>
                        </div>
                    </div>
                </div>
                <div class="form row">
                    <div class="form-group col-md- mb-3"><label class="m-0 font-weight-bold">School Name</label>
                        <div><input type="text"
                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                v-model="schoolName" disabled></div>
                    </div>
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">School City : </label>
                        <div><input type="text"
                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="schoolCity" disabled></div>
                    </div>
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold"> School Province :
                        </label>
                        <div><input type="text"
                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="schoolProvince" disabled></div>
                    </div>
                </div>
                <hr>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select Province</label>
                        <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    v-model="province"></a>
                            <div class="dropdown-menu">
                                <div v-for="province in provincies"><a class="dropdown-item"
                                        v-on:click="setProvince(province.provinceId, province.province)">{{province.province}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select City : </label>
                        <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    placeholder="" v-model="city" @input="searchCity(city)"></a>
                            <div class="dropdown-menu">
                                <div v-for="city in cities"><a class="dropdown-item"
                                        v-on:click="setCity1(city.CITYID, city.CITY)">{{city.CITY}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Address :
                        </label><textarea id="address" placeholder="" required=""
                            class="form-control border-1 shadow-sm px-4 text-primary" rows="4"
                            v-model="coach.address"></textarea></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group col-md-12 mb-3"><label class="m-0 font-weight-bold">Phone : </label>
                                <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    placeholder="" v-model="coach.contact"></div>
                            <div class="form-group col-md-12 mb-3"><label class="m-0 font-weight-bold">Email : </label>
                                <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    placeholder="" v-model="coach.email"></div>
                        </div>
                    </div>
                </div><button @click.prevent="saveCoach" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>