<div class="container-fluid">
	<div class="col-xl-10 col-lg-10">
		<div class="card shadow mb-4">
			<div v-if='control.edit'
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 v-if='control.edit' class="m-0 font-weight-bold text-primary">Update
					Discipline</h6>
			</div>
			<div v-if='control.save'
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 v-if='control.edit' class="m-0 font-weight-bold text-primary">New
					Discipline</h6>
			</div>
			<div class="card-body">
				<form>
					<div class="form-group col-md-6 mb-3" v-if='control.edit'>
						<label class="m-0 font-weight-bold">Search Discipine : </label>

						<div>
							<a class="dropdown-toggle1" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> <input
								type="text"
								class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
								v-model="category" @input="searchDiscipline(discipline)">
							</a>
							<div class="dropdown-menu">
								<div v-for="discipline in disciplines">
									<a class="dropdown-item"
										v-on:click="setDiscipline(discipline)">{{discipline.DISCIPLINE}}</a>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group col-md-6 mb-3" v-if='control.edit'>
						<label class="m-0 font-weight-bold">Select Category : </label>

						<div>
							<a class="dropdown-toggle1" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> <input
								type="text"
								class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
								v-model="category" @input="searchCategory(category)">
							</a>
							<div class="dropdown-menu">
								<div v-for="category in categories">
									<a class="dropdown-item"
										v-on:click="setCategory(category.CATID, category.CATEGORY)">{{category.CATEGORY}}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group col-md-6 mb-3">
						<label class="m-0 font-weight-bold">Discipine : </label> <input
							type="category"
							class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
							v-model="category.category">
					</div>
					<hr>
					<button v-if='control.edit' @click.prevent="updateCategory" class="btn btn-primary">Update Category</button>
					<button v-if='control.save' @click.prevent="saveCategory" class="btn btn-primary">Save Category</button>
				</form>
			</div>
		</div>
	</div>
</div>
const Discipline = Vue.component('app-admin1', {
	
	data: function(){
		return {
			categories:[],
			disciplines:[],
			category:{
				catId:'',
				category:''
			},
			discipline:{
				disciplineI:'',
				discipline:''
			}
			control: {
				edit: false,
				save:false
			}
			
		}
	},
	props:{
		update:{
			type: Boolean
		}
	},
	computed:{
		control(){
			return {edit: this.update,
				save: !this.update};
		}
		
	},
	methods: {
		searchCategories(search) {
	    	   console.log(search);
	           axios.get("/searchcategories", {
	        	   params:{
	        		   search: search
	        	   }
	           }).then(function (response) {
	             this.categories = response.data;
	          }.bind(this));
	      },
	      setCategory(catId, category){
            	 this.category.catId = catId;
            	 this.category.category = category;
            	// document.getElementById("myDropdown3").classList.toggle("show");
            	 console.log(catId);
            	 
		 },
		 searchDiscipline(search) {
			console.log(search);
			axios.get("/searchdisciplines", {
				params:{
					search: search
				}
			}).then(function (response) {
			  this.categories = response.data;
		   }.bind(this));
	   },
	   setDiscipline(discipline){
			  this.category.catId = discipline.CATID;
			  this.category.category = discipline.CATEGORY;
			  this.discipline.disciplineId = discipline.DISCIPLINEID;
			  this.discipline = discipline.DISCIPLINE;
			 // document.getElementById("myDropdown3").classList.toggle("show");
			  
	  },
         save(){
             axios.post("/savediscipline", {
               catId : this.category.catId,
              discipline : this.discipline.discipline,
             // comment : this.comment
             }).then(function(response){
             	if(response.data === "saved"){
             		swal({
               		   icon: "success",
               		   text:"Thanks for your input."
               		 });
             	}
             	else{
             		swal({
               		   icon: "success",
               		   text:"something went wrong."
               		 });
             	}
             }.bind(this))
             this.clear()
		   },
		   update(){
             axios.post("/updateiscipline", {
               catId : this.category.catId,
			   discipline : this.discipline.discipline,
			   disciplineId : this.discipline.disciplineId,
             // comment : this.comment
             }).then(function(response){
             	if(response.data === "saved"){
             		swal({
               		   icon: "success",
               		   text:"Category updated successfuly."
               		 });
             	}
             	else{
             		swal({
               		   icon: "success",
               		   text:"something went wrong."
               		 });
             	}
             }.bind(this))
             this.clear()
           }
	}
})
