<div class="container">
	<div class="col-md-12">

		<div class="row">

			<div class="col-md-4" v-for="image in images">
				<div class="card mb-4">

					<img class="card-img-top" v-bind:src="image.LINK"
						alt="Card image cap">
					<div class="card-body">
						<h2 class="card-title">{{image.DESCRIPTION}}</h2>
						<p class="card-text">{{image.DATEUPLOADED}}</p>
						<a href="#" class="btn btn-primary">View</a>
					</div>
				</div>
			</div>
			<div class="col-md-4" v-for="image in images">
				<div class="card mb-4">

					<img class="card-img-top" v-bind:src="image.LINK"
						alt="Card image cap">
					<div class="card-body">
						<h2 class="card-title">{{image.DESCRIPTION}}</h2>
						<p class="card-text">{{image.DATEUPLOADED}}</p>
						<a href="#" class="btn btn-primary">View</a>
					</div>
				</div>
			</div>
			<div class="col-md-4" v-for="image in images">
				<div class="card mb-4">

					<img class="card-img-top" v-bind:src="image.LINK"
						alt="Card image cap">
					<div class="card-body">
						<h2 class="card-title">{{image.DESCRIPTION}}</h2>
						<p class="card-text">{{image.DATEUPLOADED}}</p>
						<a href="#" class="btn btn-primary">View</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	
</div>