<div class="container">
	<div class="col-md-12">

		<div class="row">

			<div class="col-md-4">
				<div class="card mb-4">
					<div
						class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Head Master</h6>
					</div>
					<img class="card-img-top" v-bind:src="hmaster.PROFILEIMG"
						alt="Card image cap">
					<div class="card-body">
						<h2 class="card-title">{{hmaster.FIRSTNAME}}
							{{hmaster.MIDDLENAME}} {{hmaster.SURNAME}}</h2>
						<p class="card-text">{{hmaster.GENDER}}</p>
						<p class="card-text">{{hmaster.NATIONALITY}}</p>
						<a href="#" class="btn btn-primary">View</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<div
						class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Sports Director</h6>
					</div>
					<img class="card-img-top" v-bind:src="adirector.PROFILEIMG"
						alt="Card image cap">
					<div class="card-body">
						<h2 class="card-title">{{sdirector.FIRSTNAME}}
							{{adirector.MIDDLENAME}} {{adirector.SURNAME}}</h2>
						<p class="card-text">{{sdirector.GENDER}}</p>
						<p class="card-text">{{sdirector.NATIONALITY}}</p>
						<a href="#" class="btn btn-primary">View</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<div
						class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Assistant Sports Director</h6>
					</div>
					<img class="card-img-top" v-bind:src="asdirector.PROFILEIMG"
						alt="Card image cap">
					<div class="card-body">
						<h2 class="card-title">{{asdirector.FIRSTNAME}}
							{{asdirector.MIDDLENAME}} {{asdirector.SURNAME}}</h2>
						<p class="card-text">{{asdirector.GENDER}}</p>
						<p class="card-text">{{asdirector.NATIONALITY}}</p>
						<a href="#" class="btn btn-primary">View</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="col-md-4" v-for="coach in coaches">
		<div class="card mb-4">
			<div
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Coach</h6>
			</div>
			<img class="card-img-top" v-bind:src="coach.PROFILEIMG"
				alt="Card image cap">
			<div class="card-body">
				<h2 class="card-title">{{coach.FIRSTNAME}} {{coach.MIDDLENAME}}
					{{coach.SURNAME}}</h2>
				<p class="card-text">{{coach.GENDER}}</p>
				<p class="card-text">{{coach.NATIONALITY}}</p>
				<a href="#" class="btn btn-primary">View</a>
			</div>
		</div>
	</div>

</div>