<div class="container-fluid">
	<div class="col-xl-10 col-lg-10">
		<div class="card shadow mb-4">
			<div v-if='control.edit'
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 v-if='control.edit' class="m-0 font-weight-bold text-primary">Update
					Record</h6>
			</div>
			<div v-if='control.save'
				class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 v-if='control.edit' class="m-0 font-weight-bold text-primary">New
					Record</h6>
			</div>
			<div class="card-body">
				<form>
					<div class="form-group col-md-6 mb-3" v-if='control.edit'>
						<label class="m-0 font-weight-bold">Search Record : </label>

						<div>
							<a class="dropdown-toggle1" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> <input
								type="text"
								class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
								v-model="record" @input="searchRecord(record)">
							</a>
							<div class="dropdown-menu">
								<div v-for="record in records">
									<a class="dropdown-item"
										v-on:click="setRecord(record)">{{record.EVENT}}</a>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group col-md-6 mb-3" v-if='control.edit'>
						<label class="m-0 font-weight-bold">Select Event : </label>

						<div>
							<a class="dropdown-toggle1" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> <input
								type="text"
								class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
								v-model="event" @input="searchEvent(event)">
							</a>
							<div class="dropdown-menu">
								<div v-for="event in events">
									<a class="dropdown-item"
										v-on:click="setEvent(event)">{{event.EVENT}}</a>
								</div>
							</div>
						</div>
                    </div>
                    <div class="form-group col-md-6 mb-3">
						<label class="m-0 font-weight-bold">Record : </label> <input
							type="text"
							class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
							v-model="record.record">
					</div>
					<div class="form-group col-md-6 mb-3">
						<label class="m-0 font-weight-bold"> World Record : </label> <input
							type="text"
							class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
							v-model="record.wRecord">
                    </div>
                    <div class="form-group col-md-6 mb-3">
						<label class="m-0 font-weight-bold">Regional Regional : </label> <input
							type="text"
							class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
							v-model="record.rRecord">
					</div>
					<div class="form-group col-md-6 mb-3">
						<label class="m-0 font-weight-bold"> National Record : </label> <input
							type="text"
							class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
							v-model="record.nRecord">
					</div>
					<hr>
					<button v-if='control.edit' @click.prevent="updateRecord" class="btn btn-primary">Update</button>
					<button v-if='control.save' @click.prevent="saveRecord" class="btn btn-primary">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>

const event = Vue.component('app-admin1', {
	
	data: function(){
		return {
			records:[],
			events: [],
			
			event:{
				
				eventId:'',
				event:''
			},
			record :{
				recordId:'',
                wRecord:'',
                rRecod:'',
                nRecord: ''
			}
			control: {
				edit: false,
				save:false
			}
			
		}
	},
	props:{
		update:{
			type: Boolean
		}
	},
	computed:{
		control(){
			return {edit: this.update,
				save: !this.update};
		}
		
	},
	methods: {
		searchRecords(search) {
	    	   console.log(search);
	           axios.get("/getrecordbyeventname", {
	        	   params:{
	        		   search: search
	        	   }
	           }).then(function (response) {
				 this.records = response.data;
				 
	          }.bind(this));
	      },
	      setRecord(record){
				 this.record.wBest = record.WORLDBEST;
				 this.record.rBest = record.REGIONALBEST;
				 this.record.nBest = record.NATIONALBEST;
				 this.record.recordId = record.recordId;
				 this.record.event = record.EVENT;
				 this.record.eventId = record.EVENTID;
            	// document.getElementById("myDropdown3").classList.toggle("show");
            	 console.log(catId);  	 
		 },
		 
		 searchEvent(search) {
			console.log(search);
			axios.get("/searcheventss", {
				params:{
					search: search
				}
			}).then(function (response) {
			  this.events = response.data;
		   }.bind(this));
	   },
	   setEvent(event){
			  
			  this.event.eventId = event.EVENTID;
			  this.event.event = event.EVENT;

			 // document.getElementById("myDropdown3").classList.toggle("show");
			  
	  },
         save(){
             axios.post("/savediscipline", {
				worldBest : this.record.wBest,
				regionalBest : this.record.rBest,
				natBest : this.record.nBest,
				event : this.event.eventId
             // comment : this.comment
             }).then(function(response){
             	if(response.data === "saved"){
             		swal({
               		   icon: "success",
               		   text:"Thanks for your input."
               		 });
             	}
             	else{
             		swal({
               		   icon: "error",
               		   text:"something went wrong."
               		 });
             	}
             }.bind(this))
             this.clear()
		   },
		   update(){
             axios.post("/updateiscipline", {
				worldBest : this.record.wBest,
				regionalBest : this.record.rBest,
				natBest : this.record.nBest,
				recordId : this.record.recordId = record.recordId;
				event : this.event.eventId
             // comment : this.comment
             }).then(function(response){
             	if(response.data === "saved"){
             		swal({
               		   icon: "success",
               		   text:"Category updated successfuly."
               		 });
             	}
             	else{
             		swal({
               		   icon: "success",
               		   text:"something went wrong."
               		 });
             	}
             }.bind(this))
             this.clear()
           }
	}
})
