<div class="col-xl-8 col-lg-7">
	<div class="card shadow mb-4">
		<!-- Card Header - Dropdown -->
		<div
			class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			<h6 class="m-0 font-weight-bold text-primary">Register School</h6>
		</div>
		<!-- Card Body -->
		<div class="card-body">
			<form
				class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
				<div class="input-group">
					<label><span>School Name</span></label>
					<input type="text" class="form-control bg-light border-0 small"
						placeholder="School Name">
				</div>
			</form>
		</div>
	</div>
</div>