
<div class="col-md-4 mx-auto">
			<form>
									<div class="form-group mb-3">
										<input id="name" type="text"
											placeholder="School name..." required="" autofocus=""
											class="form-control rounded-pill border-0 shadow-sm px-4"
											v-model="school.schoolName">
									</div>
									<div class="form-group mb-3">
										<input id="schHead" type="text"
											placeholder="School Head" required=""
											class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
											v-model="school.schoolHead">
									</div>
									<div class="form-group mb-3">
										<input id="contact" type="text"
											placeholder="Contact" required="" autofocus=""
											class="form-control rounded-pill border-0 shadow-sm px-4"
											v-model="school.contact">
									</div>
									<div class="form-group mb-3">
										<input id="username" type="email"
											placeholder="Email" required=""
											class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
											v-model="school.email">
									</div>
									<div class="form-group mb-3">
										<input id="distance" type="text"
											placeholder="Distance from cbd" required=""
											class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
											v-model="school.distance">
									</div>
									<div class="form-group mb-3">
										<textarea id="address"
											placeholder="Physical address..." required=""
											class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" rows="4"
											v-model="student.address"></textarea>
									</div>
									<div class="form-group">
										<input type="file" @change="onFileSelected" />
									</div>
					
									<button v-if="savebtn" @click.prevent="saveSchool" class="btn btn-primary">Register</button>
									<div class="text-center d-flex justify-content-between mt-4">
										
									</div>
								</form>
								</div>
