<div class="col-lg-4 col-md-4 mx-auto">
			<form>
									<div class="form-group mb-3">
										<input id="name" name="name" type="text"
											placeholder="Student name..." required="" autofocus=""
											class="form-control rounded-pill border-0 shadow-sm px-4"
											v-model="student.fname">
									</div>
									<div class="form-group mb-3">
										<input id="midName" name="midName" type="text"
											placeholder="Second name..." required=""
											class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
											v-model="student.mname">
									</div>
									<div class="form-group mb-3">
										<input id="surname" name="surname" type="text"
											placeholder="Surname" required="" autofocus=""
											class="form-control rounded-pill border-0 shadow-sm px-4"
											v-model="student.surname">
									</div>
									<div class="form-group mb-3">
										<label>School : </label>
										<select  v-model="student.school" value="Select School">
											 
							               	<option v-for="school in schools">{{school}}</option>
							              </select>
									</div>
									<div class="form-group mb-3">
										<textarea id="address" name="address"
											placeholder="Physical address..." required=""
											class="form-control border-0 shadow-sm px-4 text-primary" rows="5"></textarea>
									</div>
									<div class="form-group">
										<input type="file" @change="onFileSelected" />
									</div>
									<div class="custom-control custom-checkbox mb-3">
										<input id="customCheck1" type="checkbox" checked
											class="custom-control-input"> <label
											for="customCheck1" class="custom-control-label">Remember
											password</label>
									</div>
									
									<button v-if="savebtn" @click.prevent="saveStudent" class="btn btn-primary">Register</button>
									<div class="text-center d-flex justify-content-between mt-4">
										
									</div>
								</form>
								</div>