<div class="col-xl-10 col-lg-10">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">School Gallery</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select School : </label>
                    <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="text"
                                class="form-control text-sm  border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="sschool" @input="searchSchools(sschool)"></a>
                        <div class="dropdown-menu">
                            <div v-for="school in schools"><a class="dropdown-item"
                                    v-on:click="setSchool(school.SCHOOL_ID, school.NAME, school.PROVINCE, school.CITY)">{{school.SCHOOL_ID}}
                                    : {{school.NAME}}</a></div>
                        </div>
                    </div>
                </div>
                <div class="form row">
                    <div class="form-group col-md- mb-3"><label class="m-0 font-weight-bold">School Name</label>
                        <div><input type="text"
                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                v-model="schoolName" disabled></div>
                    </div>
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">School City : </label>
                        <div><input type="text"
                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="schoolCity" disabled></div>
                    </div>
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold"> School Province :
                        </label>
                        <div><input type="text"
                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="schoolProvince" disabled></div>
                    </div>
                </div>
                <hr>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Logo : </label> <input
                            type="file" class="form-control-file text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="School Name....." @change="onFileSelected"></div>
                    <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">Caption </label> <input
                            type="text" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="" v-model="description"></div>
                </div><button @click.prevent="saveSGallery" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>