<div class="container">
	<div class="row no-gutters">
		<div class="col-md-4">
			<div class="container">
				<div class="card shadow mb-4">
					<div
						class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Profile</h6>
					</div>
					<div class="card-body">

						<img class="card-img" v-bind:src="school.PROFILEIMG"
							alt="Image not ready.">
						<p>Name : {{school.NAME}}</p>
						<p>Moto : {{school.MOTO}}</p>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div
					class="d-sm-flex align-items-center justify-content-between mb-4">
					<h4 class="h3 mb-0 text-gray-800">Name : {{school.NAME}}</h4>
					<img src="/img/zimbabwe.png"
						class="d-none img-profile d-sm-inline-block"></img>
				</div>
				<hr />
				<div class="container">
					<table class="table table-hover table-sm">
						<tbody>
							<tr>
								<td>School Moto</td>
								<td>{{school.MOTO}}</td>

							</tr>

							<tr>
								<td>School Head</td>
								<td>{{school.HDFNAME}} {{school.HDMNAME}}
									{{school.HDSURNAME}}</td>
							</tr>
							<tr>
								<td>Sports Director</td>
								<td>{{school.RDFNAME}} {{school.RDMNAME}}
									{{school.RDSURNAME}}</td>
							</tr>
							<tr>
								<td>Province</td>
								<td>{{school.PROVINCE}}</td>
							</tr>
							<tr>
								<td>City</td>
								<td>{{school.HEAD}}</td>
							</tr>
							<tr>
								<td>Established</td>
								<td>{{school.EST}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<br>
		<div class="row no-gutters">
			<div class="col-md-6">
				<div class="container px-2">
					<h4 class="card-title">Achievements/Medals</h4>
					<table class="table table-hover table-sm">
						<thead>
							<tr>
								<th>Medal</th>
								<th>Event</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Gold</td>
								<td>0</td>
							</tr>
							<tr>
								<td>Silver</td>
								<td>0</td>
							</tr>
							<tr>
								<td>Bronze</td>
								<td>0</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row no-gutters">
			<div class="col-md-6">
				<div class="container px-2">
					<img src="nocheating.jpg" class="img-fluid" alt="image not ready">
				</div>
			</div>
		</div>
	</div>




	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="container">
					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-primary">Profile</h6>
						</div>
						<div class="card-body">
							<img v-bind:src="school.PROFILEIMG" class="card-img"
								alt="Image not ready.">
							<p>Name : {{school.NAME}}</p>
							<p>Moto : {{school.MOTO}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="container">
					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-primary">Details</h6>
						</div>
						<div class="card-body">
							<h4>Name : {{school.NAME}}</h4>
							<table class="table table-hover table-bordered table-sm">
								<tbody>
									<tr>
										<td>School Moto</td>
										<td>{{school.MOTO}}</td>

									</tr>

									<tr>
										<td>School Head</td>
										<td>{{school.HDFNAME}} {{school.HDMNAME}}
											{{school.HDSURNAME}}</td>
									</tr>
									<tr>
										<td>Sports Director</td>
										<td>{{school.RDFNAME}} {{school.RDMNAME}}
											{{school.RDSURNAME}}</td>
									</tr>
									<tr>
										<td>Province</td>
										<td>{{school.PROVINCE}}</td>
									</tr>
									<tr>
										<td>City</td>
										<td>{{school.HEAD}}</td>
									</tr>
									<tr>
										<td>Established</td>
										<td>{{school.EST}}</td>
									</tr>
								</tbody>

							</table>
						</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row no-gutters">
				<div class="col-md-6">
					<div class="container px-2">
						<div class="card shadow mb-4">
							<div
								class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary">Achievements/Medals</h6>
							</div>
							<div class="card-body">
								<table
									class="table table-hover table-sm table stripped table-bordered">
									<thead>
										<tr>
											<th>Medal</th>
											<th>Event</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Gold</td>
											<td>0</td>
										</tr>
										<tr>
											<td>Silver</td>
											<td>0</td>
										</tr>
										<tr>
											<td>Bronze</td>
											<td>0</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="container px-2">
						<img src="/img/nocheating.jpg" class="img-fluid" alt="image not ready"></img>
					</div>
				</div>
			</div>
	</div>