<div class="col-xl-10 col-lg-10">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Register School</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="form row">
                    <div class="form-group col-md-7 mb-3">
                        <h6 class="m-0 font-weight-bold">School Name :</h6><input type="text"
                            class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            v-model="school.name">
                    </div>
                    <div class="form-group col-md-5 mb-3"><label class="m-0 font-weight-bold">School Moto :
                        </label><input type="text"
                            class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            v-model="school.moto"></div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Est : </label> <input
                            type="date" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            v-model="school.est"></div>
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Logo : </label> <input
                            type="file" class="form-control-file text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="School Name....." @change="onFileSelected"></div>
                </div>
                <hr>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select Province</label>
                        <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    v-model="province"></a>
                            <div class="dropdown-menu">
                                <div v-for="province in provincies"><a class="dropdown-item"
                                        v-on:click="setProvince(province.provinceId, province.province)">{{province.province}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select City : </label>
                        <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    v-model="city" @input="searchCity(city)"></a>
                            <div class="dropdown-menu">
                                <div v-for="city in cities"><a class="dropdown-item"
                                        v-on:click="setCity(city.CITYID, city.CITY)">{{city.CITY}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"> <label class="m-0 font-weight-bold">Address : </label>
                        <textarea id="address" required="" class="form-control border-1 shadow-sm px-4 text-primary"
                            rows="4" v-model="school.address"></textarea> </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group col-md-12 mb-3"> <label class="m-0 font-weight-bold">Phone : </label>
                                <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    v-model="school.phone"> </div>
                            <div class="form-group col-md-12 mb-3"> <label class="m-0 font-weight-bold">Email : </label>
                                <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    v-model="school.email"></div>
                        </div>
                    </div>
                </div><button @click.prevent="saveSchool" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>