<div class="container">
  <h2>School Name : {{school.NAME}}</h2>
  <p></p>            
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="student in students">
        <td>{{student.STUDENT_NAME}}</td>
        <td>{{student.MIDDLE_NAME}}</td>
        <td>{{student.LAST_NAME}}</td>
        <td>{{student.username}}</td>
        <td>{{student.contact}}</td>
        <td>{{student.address}}</td>
      </tr>
      
    </tbody>
  </table>
</div>

