<div class="container">
  <h4>School Name : {{school.NAME}}</h4>
  <p></p>            
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Activity Name</th>
        <th>Number of students</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="student in students">
        <td>{{activity.ACTIVITYNAME}}</td>
        <td>{{activity.ACTIVITYID}}</td>
        
      </tr>
      
    </tbody>
  </table>
  <div id="app">
    <pie-chart :data="chartData" :options="chartOptions"></pie-chart>
  </div>
</div>

