<div class="container">
      <div class="row">
        
        <div class="col-md-12">
        
        <div class="form-group mb-3">
										<label>School : </label>
										<div class="dropdown">
									  <button @click.prevent="myFunction()" class="btn bg-success">Select School</button>
									  <div id="myDropdown" class="dropdown-content">
									    <input type="text" placeholder="Search.." id="myInput" v-model="search" @input="searchStudents(search)">
									     <ul class="" style="list-style-type:none">
									      <li class="" v-for="student in students">
									        <a class="" v-on:click="setStudent(student.STUDENT_ID)">{{student.STUDENT_ID}} : {{school.NAME}}</a>
									      </li>
									      </ul>
									    
									  </div>
									</div>

									</div>
        
          
          <table class="table table-hover table-bordered table-stripped">
            
            <tbody>
              <tr>
                <td>Push Passing</td>
                <td>Power</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.pppower"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Push Passing</td>
                <td>Accuracy</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                			                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.ppacc"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Drive Pass</td>
                <td>Power</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.dppower"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Drive Pass</td>
                <td>Accuracy</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.dpacc"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Shots On Goal</td>
                <td>Ball Motion</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.sgbmot"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Shots On Goal</td>
                <td>Ball Stationed</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.sgbstat"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Ball Control Within 1 Square Meter</td>
                <td>Aerial Ball</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.bcaball"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Ball Control Within 1 Square Meter</td>
                <td>Grounded Ball</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.bcgball"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Ball Control Within 1 Square Meter</td>
                <td>Juggling</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.bcjug"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Penalty</td>
                <td>Shots Taken</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.pstaken"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Penalty</td>
                <td>Shots Scored</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.psscored"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Take Ons and Interceptions</td>
                <td>Against Goalkeeper</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.toiagoal"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Take Ons and Interceptions</td>
                <td>Against Defender and Goalkeeper</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.toiadgoal"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Take Ons and Interceptions</td>
                <td>Interception/Defending</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.toiidef"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Take Ons and Interception</td>
                <td>Wall Position</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.toiwdef"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Goal Keeping</td>
                <td>Ground Ball</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.gkgball"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Goal Keeping</td>
                <td>Chest High Balls</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.gkchballs"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Bouncing Balls</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.gbballs"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Ball Tipping</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.gbtip"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Wall Positioning</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.gbpos"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Footwork</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.gfootwork"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Driving Left</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.gdleft"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Driving Right</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.gdright"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Long Throw</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.glthrow"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Goalkeeping</td>
                <td>Distribution</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="soccer.gdist"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              <tr>
                <td>Push Passing</td>
                <td>Power</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
               </td>
                
              </tr>
              <tr>
                <td>Push Passing</td>
                <td>Accuracy</td>
               <td>
                	<table>
                		<thead>
                			<tr>
                				<th>Low</th>
                				<th>Average</th>
                				<th>High</th>
                			<tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>1 2 3</td>
                				<td>4 5 6 7</td>
                				<td>8 9 10</td>
                			</tr>
                		</tbody>
                	</table>
               </td>
               <td>
               <label>Score :</label>
               <select  v-model="index"> 
               	<option v-for="index in 10">{{index}}</option>
               </select>
			   </td>
                
              </tr>
              
 
            </tbody>
          </table>
        </div>
        <!-- 
        <div class="col-md-4">
          <form>
            <div class="form-group">
              <lable>Id :</lable>
              <input type="text" v-model="input.id" class="form-control"/>
            </div>
            <div class="form-group">
              <lable>Title :</lable>
              <input type="text" v-model="input.title" class="form-control"/>
            </div>
            <button v-if="savebtn" @click.prevent="save" class="btn btn-primary">Save</button>
            <button v-if="updatebtn" @click.prevent="update(post.id)" class="btn btn-primary">Update</button>
            <button @click.prevent="clear" class="btn btn-info">Clear</button>
          </form>
        </div>
         -->
          <button @click.prevent="saveSoccerStat" class="btn btn-primary">Save</button>
      </div>
    </div>
