<div class="container">
  <br>  
  <div class="row no-gutters">
  
  <div class="col-md-12">
  <div class="container">          
  <table class="table table-sm table-stripped table-condensed">
    <thead>
      <tr>
        <th>Date</th>
        <th>World Best</th>
        <th>Regional Best</th>
        <th>National Best</th>
        <th>Regional Best</th>
        <th>Personal Best</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="record in records">
        <td>{{record.DATECOLLECTED}}</td>
        <td>{{record.WORLDBEST}}</td>
        <td>{{record.REGIONALBEST}}</td>
        <td>{{record.NATIONALBEST}}</td>
        <td>{{record.PERSONALBEST}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  <div class="row no-gutters">
  <div class="col-md-6">
  	<h1>Performance Chart</h1>
	<bar-chart></bar-chart>
  </div>
  
  <div class="container">
  <div class="col-md-6">
  
  <table class="table table-sm table-stripped table-condensed">
    <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Height</th>
        <th>BMI</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="vital in vitals">
        <td>{{vital.DATECOLLECTED}}</td>
        <td>{{vital.WEIGHT}}</td>
        <td>{{vital.HEIGHT}}</td>
        <td>{{vital.BMI}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  <div class="container">
  <div class="col-md-6">
  	<table class="table table-sm table-stripped table-condensed">
    <thead>
      <tr>
        <th>Date</th>
        <th>Doping Test</th>
        <th>Heart Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="dope in doping">
        <td>{{dope.DATECOLLECTED}}</td>
        <td>{{dope.DOPE}}</td>
        <td>{{dope.HEARTRATET}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  </div>
  </div>
</div>

