<div class="container">
    <div class="card row">
        <div class="card-header border-0">
            <img v-bind:src="student.PROFILEIMG" alt="Image not ready.">
        </div>
        <div class="card-block px-2">
            <h4 class="card-title">{{student.FIRSTNAME}} {{student.MIDDLENAME}} {{student.SURNAME}}</h4>
            <table class="table table-hover table-sm">
		      <tr>
		        <td>Date of Birth</td>
		        <td>{{student.DOB}}</td>
		        
		      </tr>
		      <tr>
		        <td>Gender</td>
		        <td>{{student.GENDER}}</td>
		      </tr>
		      <tr>
		        <td>Height</td>
		        <td>{{student.Height}}</td>
		      </tr>
		      <tr>
		        <td>Weight</td>
		        <td>{{student.WEIGHT}}</td>
		      </tr>
		      <tr>
		        <td>Body Mass Index</td>
		        <td>{{student.BMI}}</td>
		      </tr>
		      <tr>
		        <td>Nationality</td>
		        <td>{{student.NATIONALITY}}</td>
		      </tr>
		    </tbody>
		  </table>
        </div>
        <div class="w-100"></div>
    </div>
    <br>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img v-bind:src="flag.jpeg" alt="Image not ready.">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Achievements/Medals</h4>
                    <table class="table table-hover table-sm">
				    <tbody>
				      <tr>
				        <td>Gold</td>
				        <td></td>
				        
				      </tr>
				      <tr>
				        <td>Silver</td>
				        <td></td>
				        
				      </tr>
				      <tr>
				        <td>Bronze</td>
				        <td>
				        
				        </td>
				       
				      </tr>
				    </tbody>
				  </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
		<div class="row no-gutters">
		<div class="col-md-4">
			<div class="container">
			<div class="card-header border-0">
				<img v-bind:src="student.PROFILEIMG" alt="Image not ready.">
				<p>Profile Image.</p>
			</div>
			</div>
		</div>
			<div class="col-md-8">
				<div class="container">
				<h4 class="card-title">Name : {{student.FIRSTNAME}} {{student.MIDDLENAME}} {{student.SURNAME}}</h4>
				</div>
				<hr/>
				<div class="container">
					<table class="table table-hover table-sm">
				      <tr>
				        <td>Date of Birth</td>
				        <td>{{student.DOB}}</td>
				        
				      </tr>
				      <tr>
				        <td>Gender</td>
				        <td>{{student.GENDER}}</td>
				      </tr>
				      <tr>
				        <td>Height</td>
				        <td>{{student.Height}}</td>
				      </tr>
				      <tr>
				        <td>Weight</td>
				        <td>{{student.WEIGHT}}</td>
				      </tr>
				      <tr>
				        <td>Body Mass Index</td>
				        <td>{{student.BMI}}</td>
				      </tr>
				      <tr>
				        <td>Nationality</td>
				        <td>{{student.NATIONALITY}}</td>
				      </tr>
				    </tbody>
				  </table>
				</div>
				</div>
			</div>

		<div class="row no-gutters">
			<div class="col-md-6">
			<div class="container px-2">
			<h4 class="card-title">Achievements/Medals</h4>
			<table class="table table-hover table-sm">
			<thead>
				<tr>
					<th>Medal</th>
					<th>Event</th>
				</tr>
			</thead>
			<tbody>
			<tr><td>Gold</td><td>0</td></tr>
			<tr><td>Silver</td><td>0</td></tr>
			<tr><td>Bronze</td><td>0</td></tr>
			</tbody></table>
			</div></div>
		</div>
	</div>
					
					
					
					
					
					
					
					