<div class="col-xl-10 col-lg-10">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Track And Field</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select Student :</label>
                        <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    placeholder="" v-model="sstudent" @input="searchStudents(sstudent)"></a>
                            <div class="dropdown-menu">
                                <div v-for="student in students"><a class="dropdown-item"
                                        v-on:click="setStudent(student.STUDENT_ID, student.FIRSTNAME)">{{student.FIRSTNAME}}
                                        {{student.MIDDLENAME}} {{student.SURNAME}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Category :</label>
                        <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    placeholder="" v-model="category"></a>
                            <div class="dropdown-menu">
                                <div v-for="category in categories"><a class="dropdown-item"
                                        v-on:click="setCategory(category.catId, category.name)">{{category.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select Discipline
                            :</label>
                        <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> <input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    placeholder="" v-model="sdiscipline" @input="searchDiscipline(sdiscipline)"></a>
                            <div class="dropdown-menu">
                                <div v-for="discipline in disciplines"><a class="dropdown-item"
                                        v-on:click="setDiscipline(discipline.DISCIPLINEID, discipline.DISCIPLINE)">{{discipline.DISCIPLINE}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select Event </label> <a
                            class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="text"
                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="sevent" @input="searchEvent(sevent)"></a>
                        <div class="dropdown-menu">
                            <div v-for="event in events"><a class="dropdown-item"
                                    v-on:click="setEvent(event.EVENTID, event.EVENT)">{{event.EVENT}}</a></div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Personal Record</label>
                        <input type="text" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                            placeholder="" v-model="personalBest"></div>
                </div>
                <hr><button @click.prevent="saveTFStat" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>