<template id="vitals">
    <div class="col-xl-10 col-lg-10">
        <div class="card shadow mb-4">
                <div v-if='control.edit'
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 v-if='control.edit' class="m-0 font-weight-bold text-primary">Update
                    Vitals Info</h6>
            </div>
            <div v-if='control.save'
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 v-if='control.save' class="m-0 font-weight-bold text-primary">New
                    Vitals Record</h6>
            </div>
            <div class="card-body">
                <form>
                        <div class="form row">
                                <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select Student :
                                    </label>
                                    <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"> <input type="text"
                                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                                placeholder="" v-model="ssvital" @input="searchVital(svital)"></a>
                                        <div class="dropdown-menu">
                                            <div v-for="vital in vitals"><a class="dropdown-item"
                                                    v-on:click="setVital(vital)">{{vital.datecollected}}
                                                    {{student.name}} {{student.middlename}} {{student.surname}}</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="form row">
                        <div class="form-group col-md-6 mb-3"><label class="m-0 font-weight-bold">Select Student :
                            </label>
                            <div><a class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"> <input type="text"
                                        class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                        placeholder="" v-model="sstudent" @input="searchStudents(sstudent)"></a>
                                <div class="dropdown-menu">
                                    <div v-for="student in students"><a class="dropdown-item"
                                            v-on:click="setStudent(student.studentid, student.firstname, student.middlename, student.surname)">{{student.firstname}}
                                            {{student.middlename}} {{student.surname}}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form row">
                        <div class="form-group col-md- mb-3"><label class="m-0 font-weight-bold">First Name</label>
                            <div><input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    v-model="studentFName" disabled></div>
                        </div>
                        <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">Middle Name : </label>
                            <div><input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    placeholder="" v-model="studentMName" disabled></div>
                        </div>
                        <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold"> Surname : </label>
                            <div><input type="text"
                                    class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                    placeholder="" v-model="studentSurname" disabled></div>
                        </div>
                    </div>
                    <hr>
                    <div class="form row">
                        
                        <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">BMI </label> <input
                                type="text" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="bmi"></div>
                        <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">weight </label> <input
                                type="text" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="weight"></div>
                        <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">height </label> <input
                                type="text" class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="height"></div>
                        <div class="form-group col-md-4 mb-3"><label class="m-0 font-weight-bold">Date Recorded </label>
                            <input type="date"
                                class="form-control text-sm border-1 bg-light shadow-sm px-4 text-primary"
                                placeholder="" v-model="dateCol"></div>
                    </div><button v-if='!control.edit' @click.prevent="saveVital" class="btn btn-primary">Save</button>
                    <button v-if='!control.save' @click.prevent="saveVital" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</template>