/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */
body {
  padding-top: 30px;
  /*background-color: rgba(0.4,0,0,0.2);*/
 /* background-color: #efefef !important;*/
 	background-color: rgb(46, 52, 54);
}

td, th {
	font-size: 14px;
	text-align :justify;
	color: rgb(46, 52, 54);
}


.card{
	/*box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);*/
	box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
	padding: 10px;
	margin-top: 30px;
	/*background-color: #fff;*/
	background-color: rgb(85, 87, 83);
}

.mt-5{
	/*box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);*/
	box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
	padding: 10px;
	margin-top: 30px;
	/*background-color: #fff;*/
	background-color: rgb(136, 138, 133);
}


.mt-5 p{
	font-size: 14px;
	text-align :justify;
	color: rgb(255, 255, 255);
}

.card .card-text {
	font-size: 14px;
	text-align :justify;
	color: rgb(255, 255, 255);
}



.card .card-header {
	font-size: 14px;
	text-align :justify;
	color: #fefbfb;
}

.card .card-body {
	font-size: 14px;
	text-align :justify;
	color: rgb(255,255,255);
}

.card .card-footer p{
	font-size: 14px;
	text-align :justify;
	color: #fefbfb;
}
.footer .i{
	font-size:70px;
}

.card h2{
	in-top: 10px;
	font-size: 16px;
	color: rgb(255, 255, 255);
}

.navbar{
	background-color: rgb(46,52,54) !important;
}

.navbar .navbar-brand{
	color: rgb(255, 255, 255);
	font-weight: bolder;
	font-size: 1.3em;
}

.navbar .navbar-brand:hover{
	color: rgb(0,0,0);
	font-weight: bolder;
	font-size: 1.3em;
}


.navbar .navbar-nav {
	margin: 0 auto; 
}
.navbar .nav-item a{
	color: rgb(255,255,255) !important;
}
.footer .nav-item i{
	font-size:10px;
}

.navbar .nav-item a:hover{
	color: rgb(0,0,0) !important;
}

.navbar .dropdown-menu{
	background-color: #7395AE
}
.navbar .dropdown-item{
	background-color: #7395AE
}

footer{
	background-color: transparent !important;
}
header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  /*padding: 15px 25px;*/
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {/*
  background-color: #555753;
  border-color: #5D5C61;*/
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #00657b !important;
  border-color: #00657b !important;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}
a:hover {
  text-decoration: underline;
  color: rgb(114, 159, 207);
}
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}


/********* Column Middle ***********/
.column_middle_grid1{
	background:#394264;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
.profile_picture{
	padding:2em 3em;
	text-align:center;
	position:relative;
}
.profile_picture span{
	position:absolute;
	top:10px;
	right:10px;
}
.profile_picture a{
	display:block;
}
.profile_picture > a > img{
	display: block;
	margin:0 auto;
	border:5px solid #50597B;
    border-radius:8em;
    -webkit-border-radius:8em;
    -moz-border-radius:8em;
    -o-border-radius:8em;
}
.profile_picture_name{
	padding-top:2em;
}
.profile_picture_name h2{
	font-size:1.5em;
	color:#FFF;
	margin-bottom:15px;
}
.profile_picture_name p{
	font-size:1em;
	color:#9099b7;
	line-height:1.6em;
}
.articles_list{
	background:#50597b;
	text-align:center;
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
}
.articles_list li{
	float:left;
	width:33.1%;
	border-right: 1px solid #1F253D;
}
.articles_list li a{
	display: block;
	color: #FFF;
	font-size:1em;	
	padding:20px 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.articles_list li a:hover{
	background: #3F4663;
}
.articles_list li a img{
	vertical-align:middle;
	padding-right:5px;
}
.articles_list li:nth-child(3){
	border-right:none;
}
.articles_list li a.red{
	border-top:5px solid #e64c65;
}
.articles_list li a.purple{
	border-top:5px solid #11a8ab;
}
.articles_list li a.yellow{
	border-top:5px solid #fcb150;
}
/******* Carts *********/
.chart{
	margin-top:30px;
	background: #394264;
	text-align: center;
	padding: 2em 0 0 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.chart h4{
	position:absolute;
	top:4.5em;
	right:6.5em;
	font-size:1.6em;
	color:#9099B7;
	display:inline-block;
}
.chart h4 span{
	color:#FFF;
}
.chart h3{
	color: #FFF;
	font-size: 1.2em;
	text-transform: uppercase;
}
.diagram{
	position:relative;
}
.chart canvas{
	padding:2em 0;
	display:block;
	margin:0 auto;
	position:relative;
}
.chart_list{
	background:#50597b;
	text-align:center;
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
}
.chart_list li{
	float:left;
	width: 24.8%;
	border-right: 1px solid #1F253D;
}
.chart_list li a{
	display: block;
	color: #9099B7;
	font-size:1em;	
	padding:10px 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.chart_list li a:hover{
	background:#3F4663;
}
.chart_list li:nth-child(4){
	border-right:none; 
}
.chart_list li a.red{
	border-top:5px solid #e64c65;
}
.chart_list li a.purple{
	border-top:5px solid #11a8ab;
}
.chart_list li a.yellow{
	border-top:5px solid #fcb150;
}
.chart_list li a.blue {
	border-top: 5px solid #4fc4f6;
}
.chart_list p{
	font-size:1.5em;
	color:#FFF;
	padding-top:5px;
}
.chart_list em{
	font-size: 0.7em;
	vertical-align: top;
}
/**** Responsice Layout *****/
@media only screen and (max-width: 1680px){
   .graph canvas {
	  padding: 20px 58px;
	}
	.chart h4{
	    right:6.9em;	
	}
}
@media only screen and (max-width: 1600px){
   .graph canvas {
	  padding: 20px 48px;
	}
	.chart h4 {
	  top: 4.3em;
	  right: 6.5em;
   }
@media only screen and (max-width: 1366px){
	.wrap{
		width:90%;
	}
	.graph canvas {
	  padding: 20px 38px;
	}
	.chart h4 {
     right:6.1em;
     top:4.2em;
   }
	
}
@media only screen and (max-width: 1280px) {
	.wrap{
		width:90%;
	}
	.chart_list li{
		width:24.75%;
	}
	.graph canvas {
		padding: 20px 27px; 
   }
   .chart h4 {
     right: 5.7em;
     top:4.2em;
   }
}
@media all and (max-width: 1024px) {
	.wrap {
		width:95%;
	}
	.chart_list li {
		width:24.6%;
	}
	.graph canvas{
		padding:20px 0;
	}
	.chart h4 {
		right: 4.6em;
	}
}
@media all and (max-width:800px) {
	.wrap {
		width:95%;
	}
	body{
		margin:30px 0;
	}
	.column_left, .column_middle, .column_right {
		float:none;
		width:100%;
	}
	.column_middle{
		margin:15px 0;
	}
	.graph canvas {
		padding: 20px 13.57em;
	}
	.profile_details{
		margin:15px;
	}
	#loginContainer{
		padding-right:0;
	}
	#loginBox{
		right:-10px;
	}
	.chart h4 {
		right: 13em;
	}
}
@media all and (max-width:640px) {
	.wrap{
		width:95%;
	}
	.graph canvas {
		padding: 20px 8.8em;
	}
	.chart h4 {
		right: 10em;
	}
}
@media all and (max-width:480px) {
	.wrap{
		width:95%;
	}
	.graph canvas{
		padding:20px 0em;
	}	
	.chart h4 {
		right: 7.3em;
	}
 }
@media all and (max-width:320px) {
	.wrap{
		width:95%;
	}
	.chart_list li{
		width: 24.6%;
	}
	.tweets_list li{
		padding:1em;
	}
	.profile_picture{
		padding:2em;
	}
	.graph canvas {
		padding:20px 0em;
	}
	.main{
		padding:15px 0;
	}
	.chart,.graph,.video_palyer,.social_network_likes,.weather, .tweets,.social_networks,.sign-in,.downloading_uploading,.date_events,.calender{
		margin-top:15px;
	}
	.video_palyer iframe{
		height:160px;
	}
	.chart h4{
		right: 4.4em;
   }
}

/********* Graph ************/
.graph{
	margin-top:30px;
}
.graph canvas{
	padding:20px 48px;
	display:block;
	background:#11a8ab;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
}
.graph img{
	display:block;
	width:100%;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
}
.graph_list{
	padding:25px;
	background: #394264;
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
}
.week-month-year{
	text-align:center;
	margin-bottom:20px;
}
.week-month-year p{
	display:inline-block;
	margin-left:5px;	
}
.week-month-year p:first-child{
	margin-left:0;
}
.week-month-year p a{
	padding:8px 15px;
	color: #FFF;
	font-size:0.85em;
	border: none;
	display:block;
	background:#50597b;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.week-month-year p a:hover,.week-month-year p a.active{
	background:#e64c65;
}
.graph_list li a{
	display:block;
	color:#9099B7;
	font-size:1em;
	text-transform:uppercase;
	padding:10px 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.graph_list li a span{
	color:#FFF;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}
.graph_list li a label {
	color: #FFF;
	font-size: 1em;
	float: right;
	letter-spacing:1px;
}
.graph_list li a label span{
	color:#E64C65;
}
.graph_list li a label em{
	font-size:0.7em;
	vertical-align:top;
}


/* next and previous buttons*/
.previous{
	background-color: #f1f1f1;
	color:black;
	border-radius: 5px;
	padding: 8px 16px;
}
.next{
	background-color: #4caff0;
	color:white;
	border-radius: 5px;
	padding: 8px 16px;
}


/* Other styles for the page not related to the animated dropdown */

/***** Social Likes **********/
.social_network_likes {
	margin-top:30px;
	text-align:center;
}
.social_network_likes li{
	float:left;
	width:25%;
}
.social_network_likes li a{
	display:block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.social_network_likes li a > i{
	display:block;
	background:#1a4e95;
	padding:20px 0;
}
.social_network_likes li a span{
	display:block;
	font-size:1em;
	color:#FFF;
	text-transform:uppercase;
	padding:10px 0;
}
.social_network_likes li a.facebook{
	background:#1a4e95;
	border-radius:5px 0px 0px 5px;
}
.social_network_likes li a.facebook:hover{
	background:#094291;
}
.social_network_likes li a.facebook > i{
	background:#3468af;
	border-radius: 5px 0px 0px 0px;
}
.social_network_likes li a.twitter{
	background:#35aadc;
}
.social_network_likes li a.twitter:hover{
  background:#0C94CE;
}
.social_network_likes li a.twitter > i{
	background:#4fc4f6;
}
.social_network_likes li a.googleplus{
	background:#cc324b;
}
.social_network_likes li a.googleplus:hover{
  background:#CA2540;
}
.social_network_likes li a.googleplus > i{
	background:#e64c65;
}
.social_network_likes li a.mail{
	background:#363f61;
	border-radius:0px 5px 5px 0px;
}
.social_network_likes li a.mail:hover{
  background:#30395A;
}
.social_network_likes li a.mail > i{
	background:#50597b;
	border-radius: 0px 5px 0px 0px;
}

/*
@media screen and (max-height: 350px){
	.img-fluid{
	min-height:70%
	}
}
*/