

.megamenu {
    position: static
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%
}

body {
    background: #eaafc8;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
    min-height: 100vh
}

code {
    color: #745eb1;
    background: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem
}

.text-uppercase {
    letter-spacing: 0.08em
}
/*
.mega-menu{
    position: initial;
&:hover{
.dropdown-menu{
  display:block;
}
}
.dropdown-menu{
    width: 100%;
  margin-top:-15px;
        table{
            td{
                border-top: 0;
            }
        }
    }
}*/